<!DOCTYPE html>
<!--[if IEMobile 7 ]>
<html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="/StressTest/js/dpi.js"></script>
    <link rel="stylesheet" href="/StressTest/css/animate.css">
    <link rel="stylesheet" href="/StressTest/css/main.css">
    <link rel="stylesheet" href="/StressTest/css/style.css">
    <link rel="stylesheet" href="/swiper/swiper-3.3.1.min.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?a0e9e1cce678aef060f414bcd2beb467";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    
</head>

<body>
    <!--需要预加载的images-->
    <div class="f-hide" id="f-hide">
        <% for(var i=1;i<=10;i++){ %>
            <img src="/StressTest/img/page1-pic<%=i%>.png">
        <% } %>
    </div>


    <div class="page loading-page active">
        <img src="/StressTest/img/loading-img.png" class="loading-img" />
        <div class="loading-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

    <div class="page swiper-page">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide page1 swiper-no-swiping">
                        <img src="/StressTest/img/page1-title.png" class="page1-title">
                        <div class="page1-form">
                            <div class="page1-info">一分钟灵魂拷问</div>
                            <div class="page1-pic"></div>
                        </div>
                        <div class="btn page1-btn J-page1-btn">
                                <div class="biggerFont">开始拷问</div>
                        </div>
                </div>
                <div class="swiper-slide page2 swiper-no-swiping">
                        <img src="/StressTest/img/page1-title.png" class="page2-title">
                        <div class="page2-form">
                            <div class="Q-title">你的性别？</div>
                            <div class="Q-options">
                                <div class="Q-option">
                                    <div class="option-icon"></div>
                                    男
                                </div>
                                <div class="Q-option Q-option-right">
                                    <div class="option-icon"></div>
                                    女
                                </div>
                            </div>
                        </div>
                        <div class="btn page1-btn J-slideNext">
                            <div class="biggerFont">确定</div>
                        </div>
                </div> 
                <% for(var i=1;i<=data.length;i++){  var item=data[i-1]; %>
                 <div class="swiper-slide Q<%=i%>-page swiper-no-swiping">
                    <div class="Q-header">
                        <img src="/StressTest/img/Qheader-pic<%=i%>.png" class="Qheader-pic" />
                    </div>
                    <div class="Q-main">
                        
                            <div class="Q-form">
                                <div class="Q-title">
                                    <img src="/StressTest/img/Q<%=i%>-icon.png" class="Q-title-icon">
                                    <div class="Q-title-text"><%=item['title']%></div>
                                </div>
                                <div class="Q-options">
                                    <% for(var j=0;j<item['options'].length;j++){%>
                                    <div class="Q-option" data-value="<%=item['options'][j].value%>"><%=item['options'][j].text%></div>
                                    <%}%>
                                </div>
                            </div>
                            <div class="btn page-btn-select <%= i==data.length?'J-finishQ':'J-slideNext'%>  biggerFont">
                                <div class="">下一题</div>
                            </div>
                        
                    </div>
                </div>
                <% } %>
                <div class="swiper-slide  page2 page11 swiper-no-swiping">
                    
                        <img src="/StressTest/img/page1-title.png" class="page1-title">
                        <div class="page11-form">
                            <div class="Q-title">填表查看你的人生掏空指数</div>
                            <div class="Q-options">
                                <input class="Q-option J-name" type='text' placeholder="请输入您的姓名" />                                    
                                <input class="Q-option J-tel" type='tel' placeholder="请输入您的手机号" />                                    
                                <select class="Q-option J-city">
                                    <% for(var i=0;i<StateRegion.length;i++){%>
                                        <option value="<%= StateRegion[i].value %>"><%= StateRegion[i].text %></option>
                                    <%}%>
                                </select> 
                                <input class="Q-option date J-date" type='date' placeholder="请输入您的生日" value="" />                                                             
                            </div>
                        </div>
                        <div class="btn page1-btn J-submit">
                            <div class="biggerFont">确定</div>
                        </div>
                    
                </div>

                <div class="swiper-slide page-result swiper-no-swiping">
                    <div class="result-text">长按保存结果，分享你的目的地</div>
                    <div class="mask"></div>
                    <img src="" class='result-pic' />
                </div>

            </div>
        </div>
    </div>


    <script src="/javascripts/jquery.js"></script>
    <script src="/StressTest/js/imagesloaded.pkgd.min.js"></script>
    <script src="/swiper/swiper-3.3.1.jquery.min.js"></script>
    <script>
        var resultList="<%- resultList %>".split(',');
        var channel="<%- channel %>";

        Number.prototype.range=function(min,max){
            return this>=min && this<=max;
        }

        Array.prototype.random=function(){
            var index=Math.floor(Math.random()*this.length)
            return this[index];
        }

        if (typeof Array.prototype.filter != "function") {
            Array.prototype.filter = function (fn, context) {
                var arr = [];
                if (typeof fn === "function") {
                for (var k = 0, length = this.length; k < length; k++) {
                    fn.call(context, this[k], k, this) && arr.push(this[k]);
                }
                }
                return arr;
            };
        }

        function initMySwiper() {
            var mySwiper = new Swiper('.swiper-container', {
                noSwiping: true
            })

            return mySwiper;
        }
    </script>
    <script>
        var mySwiper;
        var timer;

        function indexHanlder() {
            this.init();
        }

        indexHanlder.prototype = {
            init: function () {
                this.bindEvnet(this);
                this.initMain();
            },
            initMain: function () {
                var h = $('body').height();
                var Qh = $('.Q-header').height();
                $('.Q-main').height(h - Qh);
            },
            bindEvnet: function () {
                var me = this;

                $(".J-date").on("input",function(){
                    if($(this).val().length>0){
                        $(this).addClass("full");
                    }
                    else{
                        $(this).removeClass("full");
                    }
                });

                $('.J-page1-btn').click(function () {
                    timer && clearInterval(timer);
                    mySwiper.slideNext();
                })
                $('.J-slideNext').click(function () {
                    if ($(this).hasClass('active')) {
                        mySwiper.slideNext();
                    }
                })
                $('.J-finishQ').click(function () {
                    if ($(this).hasClass('active')) {
                        mySwiper.slideNext();
                        me.getResult();
                    }
                })

                $('.Q-option').click(function () {
                    if($(this).parents('.page11').length) return true;

                    $(this).addClass('active').siblings('.Q-option').removeClass('active');
                    $(this).parents('.swiper-slide').find('.btn').addClass('active');
                })

                $(".page11 .Q-option").on("change",function(){
                    console.log(checkVal());
                   if(checkVal()){
                        $(this).parents('.swiper-slide').find('.btn').addClass('active');
                   }else{
                        $(this).parents('.swiper-slide').find('.btn').removeClass('active');
                   }
                });

                function checkVal(){
                    var result=true;
                    var tel=$('.J-tel').val();
                    $('.page11 .Q-option').each(function(){
                        if(!$(this).val()) result=false;
                    })
                    return result;
                }


                $('.J-submit').click(function () {
                    if (!$(this).hasClass('active') || !checkVal()) {
                        return false;
                    }

                    if(!me.checkTel($('.J-tel').val())){
                        toast('手机号格式有误');
                        return false;
                    }

                    $('.loading-page').fadeIn();
                    setTimeout(function(){
                        $('.loading-page').fadeOut();
                    },3000)

                    mySwiper.slideNext();
                    //The main object to be sent with the submission request
                    var submissionData = new Object();
                    //Individual properties of the main object
                    var customer = new Object();
                    var extendedDetail = new Object();
                    var weChatData = new Object();
                    var trackingData = new Object();
                    var campaigndata = new Object();
            

                    customer.FirstName = $('.J-name').val().substr(1,$('.J-name').val().length-1);
                    customer.LastName = $('.J-name').val().substr(0,1);
                    customer.MobilePhone = $('.J-tel').val();
                    customer.DateOfBirth = new Date($('.J-date').val()); // January 9th, 1975 (0-based index for months)
                    customer.StateRegionName = $('.J-city').find("option:selected").text();
                    customer.StateRegionCode = "CN-" + $('.J-city').find("option:selected").val();
                    customer.CountryOfResidence = "CN";
                    customer.Gender = $('.page2-form').find('.Q-option.active').index()==0?"M":"F";
                    customer.Comments = '压力程度:'+me.level;
                    customer.Email = customer.MobilePhone + "@noemail.com";


                    // Tracking
                    trackingData.Etag =  channel+"_Restart";
                    trackingData.EntrySourceCode = "007278";

                    //Campaign Data
                    campaigndata.CampaignName = "Restart";
                    campaigndata.CampaignAllocationPrograms = "ILS,LY";
                    campaigndata.CampaignAllocationCode = "mixed";

                    //Extended Details
                    extendedDetail.WantsMoreInfo = true;
                    extendedDetail.WantsBrochure = true;



                    //Assigning individual classes to the main object
                    submissionData.customer = customer;
                    submissionData.extendedDetail = extendedDetail;
                    submissionData.tracking = trackingData;
                    submissionData.weChat = weChatData;
                    submissionData.campaignData = campaigndata;
            

                    console.log(submissionData);
                    $.ajax({
                        url: '/StressTest/form',
                        dataType: 'json',
                        crossDomain: true,
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(submissionData),
                        success: function (res) {
                            console.log(res);
                        }
                    });
                });
            },
            getResult:function(){
                var sex=$('.page2-form').find('.Q-option.active').index();  // 0 为男， 1为女
                var totalScore=0;
                $('.Q-form').each(function(){
                    totalScore+=$(this).find('.Q-option.active').data('value')*1;
                });
                var level=this.getScoreLevel(totalScore);
                var filterStr=(sex==0?"male":"female") + "_"+ level;
                console.log(filterStr);
                var result=resultList.filter(function(item){
                    return item.indexOf(filterStr)==0;
                }).random();
                console.log(result);
                this.level=level;
                var resultURL='/StressTest/img/result/'+result;
                var img=new Image();
                img.src=resultURL;
                $('.result-pic').attr('src',resultURL);
            },
            getScoreLevel:function(score){
                var level=0;
                if(score.range(10,15)){
                    level=1;
                }else if(score.range(16,22)){
                    level=2;
                }else if(score.range(23,29)){
                    level=3;
                }else if(score.range(30,100)){
                    level=4;
                }
                return level;
            },
            checkTel:function(tel){
                var reg = /^0?1[3|4|5|6|7|8|9][0-9]\d{8}$/;
                return reg.test(tel);
            }
        }
        var page = new indexHanlder();
    </script>
    <script>    
        var loaded = false;
        var loaded_ani = false;


        //预加载器
        function loader() {
            this.init();
        }

        loader.prototype = {
            init: function () {
                var me = this;
                var loaded = 0;

                if ($('body').length === 0 || navigator.userAgent.indexOf('MSIE 9') != -1) {
                    me.onLoaded();
                } else {
                    var imgLoad = imagesLoaded('body');
                    imgLoad.on('progress', function (instance, image) {
                        loaded++;
                        if (loaded == instance.images.length) {
                            me.onLoaded();
                        }
                    });
                }
            },
            onLoaded: function () {

            }
        }

        var loader = new loader();
        loader.onLoaded = function () {
            loaded = true;
            $('.loading-page').fadeOut();
            $('.swiper-page').addClass('active');
            var $btn = $('.J-page1-btn');
            timer = setInterval(function () {
                $btn.hasClass('active') ? $btn.removeClass('active') : $btn.addClass('active');
            }, 1500)
            mySwiper = initMySwiper();
        }
    </script>

    <div class="toast"></div>
    <script>
        var toast = function (msg, timer) {
            $('.toast').text(msg).fadeIn();
            setTimeout(function () {
                $('.toast').fadeOut();
            }, timer || 1000)
        }
    </script>


    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
    function initWXSahre() {

        //“分享给朋友”
        wx.onMenuShareAppMessage({
            title: '一分钟灵魂拷问……', // 分享标题
            desc: '敢不敢来测一测？', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/StressTest/img/logo.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                _hmt.push(['_trackEvent', '分享', '分享给朋友']);

            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //“分享到朋友圈”
        wx.onMenuShareTimeline({
            title: '一分钟灵魂拷问……', // 分享标题
            desc: '敢不敢来测一测？', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/StressTest/img/logo.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                _hmt.push(['_trackEvent', '分享', '分享朋友圈']);
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    }

    function initWX(callback) {

        $.ajax({
            type: 'GET',
            url: '/api/getWxSDK',
            data: {'originalUrl': window.location.href},
            success: function (data) {
                var wxConfig = data.data.wxConfig;

                console.log(wxConfig);

                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: wxConfig.appId, // 必填，公众号的唯一标识
                    timestamp: wxConfig.timestamp, // 必填，生成签名的时间戳
                    nonceStr: wxConfig.nonceStr, // 必填，生成签名的随机串
                    signature: wxConfig.signature,// 必填，签名，见附录1
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                });

                wx.ready(function () {
                    callback && callback();
                });

                wx.error(function (res) {
                    console.log(res);
                });


            },
            dataType: 'json'
        });
    }

    initWX(initWXSahre);
    </script>
    
    
</body>

</html>