<!DOCTYPE html>
<!--[if IEMobile 7 ]>
<html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="/upQuiz/js/dpi.js"></script>
    <link rel="stylesheet" href="/upQuiz/css/animate.css">
    <link rel="stylesheet" href="/upQuiz/css/main.css">

    <link rel="stylesheet" href="/upQuiz/css/style.css">

    <link rel="stylesheet" href="/swiper/swiper-3.3.1.min.css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a0e9e1cce678aef060f414bcd2beb467";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
    <!--需要预加载的images-->
    <div class="f-hide" id="f-hide">
        <% for(var i=1;i<=10;i++){ %>
        <img src="/StressTest/img/page1-pic<%=i%>.png">
        <% } %>
    </div>


    <div class="page loading-page active">
        <div class="loading-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

    <div class="page swiper-page">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide page1 swiper-no-swiping">
                    <div class="page-form">
                        <div class="card">
                            <img src="/upQuiz/img/page1-card.png" class='card-img'>
                        </div>
                        <div class="form-title">
                            你是否打算去留学，<br />
                            却不知道自己更适合哪个国家？<br />
                            30秒小测试，<br />
                            为你匹配梦想留学目的地。<br />
                        </div>
                    </div>
                    <div class="btn J-page1-btn active">开始拷问</div>
                </div>

                <% for(var i=1;i<=data.length;i++){  var item=data[i-1]; %>
                <div class="swiper-slide Q<%=i%>-page Quiz-page swiper-no-swiping">
                    <div class="page-form">
                        <div class="card">
                            <img src="/upQuiz/img/Q<%=i%>-card.png" class='card-img Q-card-img'>
                        </div>
                        <div class="form-title"><%=item['title']%></div>
                        <div class="Q-options">
                            <% for(var j=0;j<item['options'].length;j++){%>
                            <div class="Q-option" data-value="<%=item['options'][j].value%>">
                                <%=item['options'][j].text%>
                            </div>
                            <%}%>
                        </div>
                    </div>
                    <div class="btn page-btn-select <%= i==data.length?'J-finishQ':'J-slideNext'%>">下一题</div>
                </div>
                <% } %>
                    <div class="swiper-slide form-page swiper-no-swiping">
                        <img src="/upQuiz/img/formpage-title.png" class="formpage-title" />
                        <div class="form-box">
                            <div class="Q-options">
                                <input class="Q-option J-name" type='text' placeholder="请输入您的姓名" />
                                <input class="Q-option J-tel" type='tel' placeholder="请输入您的手机号" />
                                <div class="Q-option-css">
                                    <input type="text" class="Q-option qcode-input leads-Q" placeholder="请输入验证码">
                                    <div class="qcode-btn J-sendSMS">获取验证码</div>
                                </div>
                                <div class="Q-option-css date select-wrap">
                                    <select class="year-select select">
                                        <option value=''>出生年</option>
                                        <% for(var i=0;i<year.length;i++){%>
                                            <option value="<%= year[i].value %>">
                                                <%= year[i].text %>
                                            </option>
                                            <%}%>
                                    </select>
                                    <select class="month-select select">
                                        <option value=''>月</option>
                                        <% for(var i=0;i<month.length;i++){%>
                                            <option value="<%= month[i].value %>">
                                                <%= month[i].text %>
                                            </option>
                                            <%}%>
                                    </select>
                                    <select class="date-select select">
                                        <option value=''>日</option>
                                        <% for(var i=0;i<date.length;i++){%>
                                            <option value="<%= date[i].value %>">
                                                <%= date[i].text %>
                                            </option>
                                            <%}%>
                                    </select>
                                </div>                                
                                <div class="Q-option-css select-wrap">
                                    <select class="Q-option city-select J-city">
                                        <option value=''>省份</option>
                                        <% for(var i=0;i<StateRegion.length;i++){%>
                                        <option data-id="<%= StateRegion[i].id %>" value="<%= StateRegion[i].value %>">
                                            <%= StateRegion[i].text %>
                                        </option>
                                        <%}%>
                                    </select>
                                </div>
                                <div class="Q-option-css select-wrap">
                                    <select class="Q-option city-child-select J-city-child">
                                        <option value=''>城市</option>
                                    </select>
                                </div>
                        </div>
                    </div>
                    <div class="rightChecked J-rightChecked"> <span class="checkbox active"></span> 我已阅读并同意 <span class="href">英孚隐私政策</span></div>
                    <div class="rightChecked J-WantsBrochure"> <span class="checkbox active"></span>
                    请发一份《全球旅行指南》到我邮箱</span></div>
                    <input type="text" class="Q-option J-email" placeholder="请输入您的邮箱">
                    <div class="btn J-submit">提交</div>
                </div>
                <div class="swiper-slide page-result swiper-no-swiping">
                    <div class="result-text">长按保存结果，分享你的目的地</div>
                    <div class="mask"></div>
                    <img src="" class='result-pic' />
                </div>
            </div>
        </div>
    </div>
    <div class="right-pop">
        <div class="overlay"></div>
        <div class="pop-content">
            <div class='iframeWrap'>
                <iframe class="iframe" src="https://liuxue.ef.com.cn/legal/privacy-policy/#" frameborder="0"></iframe>
            </div>
        </div>
        <img class="closed" src="/tourTest/img/pop-closed.png" />
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/StressTest/js/imagesloaded.pkgd.min.js"></script>
    <script src="/swiper/swiper-3.3.1.jquery.min.js"></script>
    <script>
        var channel = "<%- channel %>";
        var SourceCode = "<%- SourceCode %>";
        
        Number.prototype.range = function (min, max) {
            return this >= min && this <= max;
        }

        Array.prototype.random = function () {
            var index = Math.floor(Math.random() * this.length)
            return this[index];
        }

        if (typeof Array.prototype.filter != "function") {
            Array.prototype.filter = function (fn, context) {
                var arr = [];
                if (typeof fn === "function") {
                    for (var k = 0, length = this.length; k < length; k++) {
                        fn.call(context, this[k], k, this) && arr.push(this[k]);
                    }
                }
                return arr;
            };
        }

        function initMySwiper() {
            var mySwiper = new Swiper('.swiper-container', {
                noSwiping: true
            })

            return mySwiper;
        }

        function genOptions(data) {
            var returnStr = '';
            data.map(item => {
                returnStr += '<option value="' + item.value + '">' + item.text + '</option>';
            });
            return returnStr;
        }
    </script>
    <script>
        var mySwiper;
        var timer;

        function indexHanlder() {
            this.init();
        }

        indexHanlder.prototype = {
            init: function () {
                this.countdown = 60;
                this.timer = null;
                this.initMain();
                this.initMusic();
                this.bindEvnet(this);
                $('.iframe').attr('src', $('.iframe').data('src'));
            },
            initMain: function () {
                var h = $('body').height();
                var Qh = $('.Q-header').height();
                $('.Q-main').height(h - Qh);
            },
            initMusic: function () {
                var audioElement = this.audioElement = document.createElement('audio');
                audioElement.controls = true;
                audioElement.loop = false;
                audioElement.autoplay = 'autoplay';
                audioElement.onended = function () {
                    $('.music').removeClass('play');
                };
            },
            playMusic: function ($music) {
                var audioElement = this.audioElement;
                var src = $music.data('src');
                audioElement.setAttribute('src', src);
                audioElement.load();
                audioElement.play();
                $('.music').removeClass('play');
                $music.addClass('play').addClass('done');
            },
            stopMusic: function () {
                var audioElement = this.audioElement;
                audioElement.pause();
                $('.music').removeClass('play');
            },
            bindEvnet: function () {
                var me = this;
                var self = this;

                $('.btn').on('touchstart',function(){
                    if($(this).hasClass('active')){
                        $(this).addClass('touching');
                    }
                })

                $('.J-rightChecked').click(function () {
                    var $checkbox = $(this).find('.checkbox');
                    $checkbox.hasClass('active') ? $checkbox.removeClass('active') : $checkbox.addClass(
                        'active');
                })
                $('.J-WantsBrochure').click(function () {
                    var $checkbox = $(this).find('.checkbox');
                    if ($checkbox.hasClass('active')) {
                        $checkbox.removeClass('active');
                        $('.J-email').fadeOut();
                    } else {
                        $('.J-email').fadeIn();
                        $checkbox.addClass('active');
                    }
                })

                $('.href').click(function (e) {
                    e.stopPropagation();
                    $('.right-pop').show();
                })
                $('.closed').click(function () {
                    $('.right-pop').hide();
                })

                $('.month-select').change(function () {
                    var month = $(this).val();
                    var days = 31;
                    if (month == '2') {
                        days = 28;
                    } else if (month == '4' || month == "6" || month == "9" || month == "11") {
                        days = 30
                    }
                    me.genDates(days);
                })

                $('.J-page1-btn').click(function () {
                    timer && clearInterval(timer);
                    mySwiper.slideNext();
                })
                $('.J-slideNext').click(function () {
                    if ($(this).hasClass('active')) {
                        mySwiper.slideNext();
                        me.stopMusic();
                    }
                })
                $('.J-finishQ').click(function () {
                    if ($(this).hasClass('active')) {
                        mySwiper.slideNext();
                        me.getResult();
                    }
                })

                $('.Q-option').click(function () {
                    if ($(this).parents('.form-page').length) return true;
                    $(this).addClass('active').siblings('.Q-option').removeClass('active');
                    $(this).parents('.swiper-slide').find('.btn').addClass('active');
                })

                $(".leads-page .leads-Q").on("change", function () {
                    console.log(checkVal());
                    if (checkVal()) {
                        $(this).parents('.swiper-slide').find('.btn').addClass('active');
                    } else {
                        $(this).parents('.swiper-slide').find('.btn').removeClass('active');
                    }
                });

                // 获取验证码
                $('.J-sendSMS').click(function () {
                    var $self = $(this);
                    if ($self.parent().hasClass('disabled')) {
                        return false;
                    }
                    var tel = $('.J-tel').val();
                    if (!tel) {
                        toast('请输入手机号');
                        return false;
                    }
                    if (!/^1[3|4|5|7|8|9][0-9]{9}$/.test(tel)) {
                        toast('请输入正确的手机号');
                        return false;
                    }
                    startTimer();

                    $.ajax({
                        type: 'POST',
                        url: '/tourTest/api/sendSMS',
                        data: {
                            tel: tel,
                        },
                        success: function (data) {
                            if (data.status == 200) {
                                toast('短信发送成功');
                            } else {
                                toast(data.data);
                            }
                        },
                        dataType: 'json'
                    });
                });

                function startTimer() {
                    var $self = $('.J-sendSMS');
                    var countdown = self.countdown;

                    $self.text('已发送(' + countdown + 's)')
                    $self.parent().addClass('disabled');

                    self.timer = setInterval(function () {
                        countdown -= 1;
                        $self.text('已发送(' + countdown + 's)')
                        $self.parent().addClass('disabled');
                        if (countdown <= 0) {
                            stopTimer();
                        }
                    }, 1000);
                }

                function stopTimer() {
                    var $self = $('.J-sendSMS');
                    clearInterval(self.timer);
                    $self.text('获取验证码')
                    $self.parent().removeClass('disabled');
                }

                function checkVal() {
                    var result = true;
                    $('.leads-page .leads-Q').each(function () {
                        if (!$(this).val()) result = false;
                    })
                    return result;
                }

                $('.J-city').change(function () {
                    var id = $(this).find("option:selected").data('id');
                    $.ajax({
                        url: '/tourTest/queryCity',
                        dataType: 'json',
                        crossDomain: true,
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            id: id
                        }),
                        success: function (res) {
                            console.log(res);
                            var data = res.data[0].map(item => {
                                return {
                                    value: item.id,
                                    text: item.name
                                }
                            });
                            var str = genOptions(data);
                            $(".J-city-child").html(str);
                        }
                    });
                })

                $('.J-submit').click(function () {
                    if (!$(this).hasClass('active') || !checkVal()) {
                        return false;
                    }

                    if (!me.checkTel($('.J-tel').val())) {
                        toast('手机号格式有误');
                        return false;
                    }

                    if (!$('.J-rightChecked .checkbox').hasClass('active')) {
                        toast('请勾选隐私策略');
                        return false;
                    }




                    //The main object to be sent with the submission request
                    var submissionData = new Object();
                    //Individual properties of the main object
                    var customer = new Object();
                    var extendedDetail = new Object();
                    var weChatData = new Object();
                    var trackingData = new Object();
                    var campaigndata = new Object();

                    var year = $('.year-select').val();
                    var month = $('.month-select').val();
                    var date = $('.date-select').val();
                    var qcode = $('.qcode-input').val();
                    var email = $('.J-email').val();

                    customer.FirstName = $('.J-name').val().substr(1, $('.J-name').val().length - 1);
                    customer.LastName = $('.J-name').val().substr(0, 1);
                    customer.MobilePhone = $('.J-tel').val();
                    customer.DateOfBirth = new Date(year + '-' + month + '-' + date); // January 9th, 1975 (0-based index for months)
                    customer.StateRegionName = $('.J-city').find("option:selected").text();
                    customer.StateRegionCode = "CN-" + $('.J-city').find("option:selected").val();
                    customer.CountryOfResidence = "CN";
                    customer.Gender = $('.gender-page').find('.Q-option.active').index() == 0 ? "M" : "F";
                    customer.Comments = '用户标签属性：' + me.tagDes + ';' + levelMap[me.level];
                    customer.City = $('.J-city-child').find("option:selected").text();
                    customer.Email = email ? email : customer.MobilePhone + "@noemail.com";


                    // Tracking
                    trackingData.Etag = channel + "_Travel_IDV1";
                    trackingData.EntrySourceCode = SourceCode;

                    //Campaign Data
                    campaigndata.CampaignName = "Travel_ID";
                    campaigndata.CampaignAllocationPrograms = "ILS,LY";
                    campaigndata.CampaignAllocationCode = "mixed";

                    //Extended Details
                    extendedDetail.WantsMoreInfo = true;
                    extendedDetail.WantsBrochure = $('.J-WantsBrochure .checkbox').hasClass('active');



                    //Assigning individual classes to the main object
                    submissionData.customer = customer;
                    submissionData.extendedDetail = extendedDetail;
                    submissionData.tracking = trackingData;
                    submissionData.weChat = weChatData;
                    submissionData.campaignData = campaigndata;
                    submissionData.qcode = $('.qcode-input').val();


                    console.log(submissionData);

                    /** debug */
                    // $('.loading-page').fadeIn();
                    // setTimeout(function () {
                    //     $('.loading-page').fadeOut();
                    // }, 3000)
                    // mySwiper.slideNext();
                    // return false;


                    $.ajax({
                        url: '/tourTest/form',
                        dataType: 'json',
                        crossDomain: true,
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(submissionData),
                        success: function (res) {
                            console.log(res);
                            if (res.status == 999) {
                                toast(res.data)
                            } else {
                                $('.loading-page').fadeIn();
                                setTimeout(function () {
                                    $('.loading-page').fadeOut();
                                }, 3000)
                                mySwiper.slideNext();
                            }
                        }
                    });
                });
            },
            getResult: function () {
                var me = this;
                var scoreList = [0,0,0,0,0];
                $('.Quiz-page .Q-options').each(function () {
                    var $Qitem = $(this).find('.Q-option.active');
                    var val= $Qitem.data('value') * 1;
                    scoreList[val]++;
                });
                this.result =scoreList.findIndex(it=>it==Math.max.apply( Math, scoreList));
                console.log(this.result);
                
            },
            genTagDes: function (tagList) {
               
            },
            genTagImg: function (tagList, img, result) {
               
            },
            getScoreLevel: function (score) {
               
            },
            checkTel: function (tel) {
                var reg = /^0?1[3|4|5|6|7|8|9][0-9]\d{8}$/;
                return reg.test(tel);
            },
            genDates: function (days) {
                var html = "<option value=''>日</option>";
                for (var i = 1; i <= days; i++) {
                    html += '<option value="' + i + '">' + i + '</option>';
                }
                $('.date-select').html(html);
            }
        }
        var page = new indexHanlder();
    </script>
    <script>
        var loaded = false;
        var loaded_ani = false;


        //预加载器
        function loader() {
            this.init();
        }

        loader.prototype = {
            init: function () {
                var me = this;
                var loaded = 0;

                if ($('body').length === 0 || navigator.userAgent.indexOf('MSIE 9') != -1) {
                    me.onLoaded();
                } else {
                    var imgLoad = imagesLoaded('body');
                    imgLoad.on('progress', function (instance, image) {
                        loaded++;
                        if (loaded == instance.images.length) {
                            me.onLoaded();
                        }
                    });
                }
            },
            onLoaded: function () {

            }
        }

        var loader = new loader();
        loader.onLoaded = function () {
            loaded = true;
            $('.loading-page').fadeOut();
            $('.swiper-page').addClass('active');
            mySwiper = initMySwiper();
        }
    </script>

    <div class="toast"></div>
    <script>
        var toast = function (msg, timer) {
            $('.toast').text(msg).fadeIn();
            setTimeout(function () {
                $('.toast').fadeOut();
            }, timer || 1000)
        }
    </script>


    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        function initWXSahre() {

            //“分享给朋友”
            wx.onMenuShareAppMessage({
                title: '测测你的隐藏旅行属性', // 分享标题
                desc: '你是打卡狂魔，还是逛吃逛吃党？', // 分享描述
                link: '', // 分享链接
                imgUrl: 'http://ma.eldesign.cn/tourTest/img/share_logo.jpg', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                    _hmt.push(['_trackEvent', '分享', '分享给朋友']);

                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            //“分享到朋友圈”
            wx.onMenuShareTimeline({
                title: '测测你的隐藏旅行属性', // 分享标题
                desc: '你是打卡狂魔，还是逛吃逛吃党？', // 分享描述
                link: '', // 分享链接
                imgUrl: 'http://ma.eldesign.cn/tourTest/img/share_logo.jpg', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    _hmt.push(['_trackEvent', '分享', '分享朋友圈']);
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        }

        function initWX(callback) {

            $.ajax({
                type: 'GET',
                url: '/api/getWxSDK',
                data: {
                    'originalUrl': window.location.href
                },
                success: function (data) {
                    var wxConfig = data.data.wxConfig;

                    console.log(wxConfig);

                    wx.config({
                        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: wxConfig.appId, // 必填，公众号的唯一标识
                        timestamp: wxConfig.timestamp, // 必填，生成签名的时间戳
                        nonceStr: wxConfig.nonceStr, // 必填，生成签名的随机串
                        signature: wxConfig.signature, // 必填，签名，见附录1
                        jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                    });

                    wx.ready(function () {
                        callback && callback();
                    });

                    wx.error(function (res) {
                        console.log(res);
                    });


                },
                dataType: 'json'
            });
        }

        initWX(initWXSahre);
    </script>


</body>

</html>