<%- include("header.ejs",{"title": "结婚邀请函"}) %>
<link rel="stylesheet" href="/invitation/css/animate.css">

<div class="swiper-container template-container tpl1-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide page tpl1-page page1">
            <img class="title ani" src="/invitation/img/tpl1-1-title.png" alt="" swiper-animate-effect="fadeInDown"
                 swiper-animate-duration="2s">
            <div class="img-wrapper ani" swiper-animate-effect="slideInDown" swiper-animate-duration="2s">
                <div class="uploaded-wrapper">
                    <img class="J-uploaded-img" data-tag="tmp1-pic1" src="" alt="photo">
                </div>
                <img class="photo-wrapper" src="/invitation/img/tpl1-photo-wrapper-1.png"
                     alt="">
            </div>
            <div class="info ani" swiper-animate-effect="slideInUp" swiper-animate-duration="2s">
                <div class="name">
                    <span><%= doc['templateForm']['groomName'] %></span>
                    <img class="and-icon" src="/invitation/img/icon-and.png" alt="">
                    <span><%= doc['templateForm']['brideName'] %></span>
                </div>
                <div class="time" data-time="<%= doc['templateForm']['marriageTime'] %>"></div>
                <div class="address"><%= doc['templateForm']['marriageAddress'] %></div>
            </div>
        </div>
        <div class="swiper-slide page tpl1-page page2">
            <img class="text ani" src="/invitation/img/tpl1-2-text.png" alt="" swiper-animate-effect="fadeInUp"
                 swiper-animate-duration="2s" swiper-animate-delay="1s">
            <div class="img-wrapper ani" swiper-animate-effect="slideInDown" swiper-animate-duration="2s">
                <img class="J-uploaded-img" data-tag="tmp1-pic2" src="" alt="photo">
                <img class="photo-wrapper" src="/invitation/img/tpl1-photo-wrapper-2.png" alt="">
                <img class="ani-right-top" src="/invitation/img/tpl1-photo-wrapper-2-ani-right.png" alt="">
                <img class="ani-left-bottom" src="/invitation/img/tpl1-photo-wrapper-2-ani-left.png" alt="">
            </div>
        </div>
        <div class="swiper-slide page tpl1-page page3">
            <img class="text ani" src="/invitation/img/tpl1-3-text.png" alt="" swiper-animate-effect="fadeInDown"
                 swiper-animate-duration="2s" swiper-animate-delay="1s">
            <div class="top-img-wrapper img-wrapper ani" swiper-animate-effect="zoomIn" swiper-animate-duration="2s">
                <img class="J-uploaded-img" data-tag="tmp1-pic3" src=""/>
            </div>
            <div class="bottom-img-wrapper img-wrapper ani" swiper-animate-effect="zoomIn" swiper-animate-duration="2s">
                <img class="J-uploaded-img" data-tag="tmp1-pic4" src=""/>
            </div>
            <img class="ani-left-top ani" src="/invitation/img/tpl1-photo-wrapper-3-ani-left-top.png" alt=""
                 swiper-animate-effect="fadeInLeft" swiper-animate-duration="3s" swiper-animate-delay="1s">
            <img class="ani-left-bottom ani" src="/invitation/img/tpl1-photo-wrapper-3-ani-left-bottom.png" alt=""
                 swiper-animate-effect="fadeInLeft" swiper-animate-duration="3s" swiper-animate-delay="1s">
            <img class="ani-right-bottom ani" src="/invitation/img/tpl1-photo-wrapper-3-ani-right-bottom.png" alt=""
                 swiper-animate-effect="fadeInRight" swiper-animate-duration="3s" swiper-animate-delay="1s">
        </div>
        <div class="swiper-slide page tpl1-page page4">
            <img class="text ani" src="/invitation/img/tpl1-4-text.png" alt="" swiper-animate-effect="fadeInDown"
                 swiper-animate-duration="3s" swiper-animate-delay="1s">
            <div class="top-img-wrapper img-wrapper ani" swiper-animate-effect="zoomIn" swiper-animate-duration="2s">
                <img class="J-uploaded-img" data-tag="tmp1-pic5" src=""/>
            </div>
            <div class="bottom-img-wrapper img-wrapper ani" swiper-animate-effect="zoomIn" swiper-animate-duration="2s">
                <img class="J-uploaded-img" data-tag="tmp1-pic6" src=""/>
            </div>
            <img class="ani-left ani" src="/invitation/img/tpl1-photo-wrapper-4-ani-left.png" alt=""
                 swiper-animate-effect="fadeInLeft" swiper-animate-duration="2s" swiper-animate-delay="2s">
            <img class="ani-right-top ani" src="/invitation/img/tpl1-photo-wrapper-4-ani-right-top.png" alt=""
                 swiper-animate-effect="fadeInDown" swiper-animate-duration="2s" swiper-animate-delay="2s">
        </div>
        <div class="swiper-slide page tpl1-page page5">
            <img class="text ani" src="/invitation/img/tpl1-5-text.png" alt="" swiper-animate-effect="fadeInUp"
                 swiper-animate-duration="3s" swiper-animate-delay="1s">
            <div class="img-wrapper img-top backgroundFFF ani" swiper-animate-effect="zoomIn"
                 swiper-animate-duration="2s">
                <img class="J-uploaded-img " data-tag="tmp1-pic7" src=""/>
            </div>
            <div class="img-wrapper img-bottom ani" swiper-animate-effect="zoomIn" swiper-animate-duration="2s">
                <img class="J-uploaded-img" data-tag="tmp1-pic8" src=""/>
            </div>
            <img class="ani-right-bottom ani" src="/invitation/img/tpl1-photo-wrapper-5-ani-right-bottom.png" alt=""
                 swiper-animate-effect="fadeInUp" swiper-animate-duration="2s" swiper-animate-delay="2s">
        </div>
        <div class="swiper-slide page tpl1-page page6">
            <img class="text ani" src="/invitation/img/tpl1-6-text.png" alt="" swiper-animate-effect="fadeInDown"
                 swiper-animate-duration="3s" swiper-animate-delay="1s">
            <div class="img-wrapper img-top ani" swiper-animate-effect="zoomIn" swiper-animate-duration="2s">
                <div class="img-bg"></div>
                <img class="J-uploaded-img" data-tag="tmp1-pic9" src=""/>
            </div>
            <div class="img-wrapper img-bottom ani" swiper-animate-effect="zoomIn" swiper-animate-duration="2s">
                <div class="img-bg"></div>
                <img class="J-uploaded-img" data-tag="tmp1-pic10" src=""/>
            </div>
            <img class="ani-right-top ani" src="/invitation/img/tpl1-photo-wrapper-6-ani-right-top.png" alt=""
                 swiper-animate-effect="fadeInRight" swiper-animate-duration="2s" swiper-animate-delay="2s">
            <img class="ani-bottom ani" src="/invitation/img/tpl1-photo-wrapper-6-ani-bottom.png" alt=""
                 swiper-animate-effect="fadeInUp" swiper-animate-duration="2s" swiper-animate-delay="2s">
        </div>
        <div class="swiper-slide page  tpl1-page page7">
            <div class="mid">
                <div class="portrait img-wrapper ani" swiper-animate-effect="zoomIn" swiper-animate-duration="2s">
                    <img class="J-uploaded-img" data-tag="tmp1-logo" src=""/>
                </div>
                <img class="text" src="/invitation/img/tpl1-7-text.png" alt="">
                <div class="map" id="map"></div>
                <div class="info">
                    <div class="time" data-time="<%= doc['templateForm']['marriageTime'] %>"></div>
                    <div class="address"><%= doc['templateForm']['marriageAddress'] %></div>
                </div>
            </div>
            <div class="btn-reply J-btn-reply">
                <img src="/invitation/img/tpl1-btn-reply.png" alt="">
            </div>
            <div class="modal J-reply-modal">
            </div>
        </div>
        <div class="swiper-slide page tpl1-page page8">
            <div class="center">
                <img class="vcode" src="/invitation/img/page8-vcode.png" alt="">
                <img class="text" src="/invitation/img/page8-text1.png" alt="">
                <img class="btn-do J-btn-do" src="/invitation/img/page8-btn.png" alt="">
            </div>
        </div>
    </div>
</div>
<!--背景音乐 -->
<a href="javascript:; " class="u-globalAudio z-play">
    <i class="icon-music"></i>
</a>
<!--背景音乐 end-->

<!-- popup -->
<!--宾客回复-->
<div class="modal-form J-modal-form">
    <form class="J-form">
        <div class="input-wrapper">
            <label class="label" for="reply-modal-name">来宾姓名：</label>
            <input type="text" name="name" id="reply-modal-name" data-required="true" data-message="请输入来宾姓名"/>
        </div>
        <div class="input-wrapper">
            <div class="label">是否赴宴：</div>
            <div class="attend-wrapper">
                <label for="reply-modal-attend">
                    <input type="radio" name="isAttend" value="1" id="reply-modal-attend" checked/>赴宴
                </label>
                <label for="reply-modal-notattend">
                    <input type="radio" name="isAttend" value="0" id="reply-modal-notattend"/>待定
                </label>
            </div>
        </div>
        <div class="input-wrapper J-attend-wrapper">
            <div class="label">人数：</div>
            <div class="count-wrapper">
                <div class="btn-cnt-action J-minus">-</div>
                <div class="attend-cnt">1</div>
                <div class="btn-cnt-action J-plus">+</div>
            </div>
        </div>
        <div class="input-wrapper">
            <a class="btn J-submit-btn">确定</a>
        </div>
    </form>
</div>
<!--宾客回复 end-->
<!-- popup -->
<!--评论区域-->
<div class="blessing J-blessing">
    <div class="blessing-wrapper active">
        <% if(doc.wishesList.length > 0){ %>
        <img class="btn-close J-btn-close" src="/invitation/img/icon-close.png" alt="">
        <% } %>
        <div class="live-blessing-wrapper">
            <ul class="live-blessing-list">
                <% for(var i = 0;i < doc.wishesList.length;i++){  var item = doc.wishesList[i]; %>
                <li>
                    <div><span><%= item['wishName'] %>：</span><%= item['wishText'] %></div>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="live-write">
            <input class="nickname" type="text" name="nickname" placeholder="昵称" data-required="true"
                   data-message="请输入昵称">
            <input class="blessing-info" type="text" name="blessing" placeholder="请留下最真挚的祝福..." data-required="true"
                   data-message="祝福不能为空哦~">
            <a href="javascript:;" class="btn-send J-btn-send">发送</a>
        </div>
    </div>
    <span class="send-bless">祝福</span>
</div>
<!--评论区域 end-->

<%- include("commonjs.ejs") %>
<script src="http://api.map.baidu.com/getscript?v=2.0&ak=2eed95cd0a38f5605d4b885b55211634&services=&t=20170511202040"></script>
<script src="/invitation/js/swiper-3.3.1.jquery.min.js"></script>
<script src="/invitation/js/swiper.animate1.0.2.min.js"></script>
<script>

    var id = "<%= doc['_id']; %>";
    var templateId = "<%= doc['templateId']; %>";
    var Info =<%- JSON.stringify(Info) %>;
    var marriageAddressInfo = '<%- doc["templateForm"]["marriageAddressInfo"] %>'.split(',');

    function Page() {
        this.init();
    }

    Page.prototype = {
        init: function () {
            this.initInfo();
            this.initMap();
            this.bindEvent();
            this.blessingEvent();
            this.replyEvent();
            this.initDate();

            var self = this;
            initWX(function () {
                self.resultShare();
            })
        },
        // 绑定事件
        bindEvent: function () {
            // 后退
            $('.J-back').click(function () {
                window.history.go(-1);
            })

            // 制作请帖
            $('.J-btn-do').click(function () {
                window.location.href = '/invitation/index';
            })

            // 初始化swiper
            var mySwiper = new Swiper('.swiper-container', {
                direction: 'vertical',
                onSlideChangeEnd: function (swiper) {
                    if (swiper.slides.length - swiper.activeIndex > 2) {
                        $('.J-blessing').show();
                    } else {
                        $('.J-blessing').hide();
                    }
                    swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
                },
                onInit: function (swiper) { //Swiper2.x的初始化是onFirstInit
                    swiperAnimateCache(swiper); //隐藏动画元素
                    swiperAnimate(swiper); //初始化完成开始动画
                }
            })
            // 背景音乐
            var music_key, once = 0;
            var audioElement = document.createElement('audio');
            audioElement.setAttribute('src', '/invitation/mp3/1.mp3');
            audioElement.controls = true;
            audioElement.loop = true;
            audioElement.autoplay = 'autoplay';
            audioElement.load();
            audioElement.play();

            var onTouchStart = function () {
                if (once == 0) {
                    once = 1;
                    audioElement.play();
                    music_key = 1;
                }
            }

            $('body').on('touchstart', onTouchStart);

            $(".u-globalAudio").on('touchstart', function () {
                if (music_key == 1) {
                    audioElement.pause();
                    music_key = 0;
                    $(this).addClass('z-pause').removeClass('z-play');
                } else {
                    audioElement.play();
                    music_key = 1;
                    $(this).addClass('z-play').removeClass('z-pause');
                }
                return false;
            });
        },
        initInfo: function () {
            $('.J-uploaded-img').each(function () {
                var tag = $(this).data('tag');
                var src = Info[tag] && Info[tag].split('###')[0];
                var others = Info[tag] && Info[tag].split('###')[1];

                if (!src || src == "undefined" || src == "null") {
                    src = '';
                }

                $(this).attr('src', src);
                $(this).css({
                    top: others && others.split(',')[0],
                    left: others && others.split(',')[1],
                });
            })
        },
        initDate: function () {
            $('[data-time]').each(function () {
                var time = moment($(this).data('time')).format('YYYY年MM月DD日 hh:mm');
                $(this).text(time);
            })
        },
        initMap: function () {
            // 初始化地图
            var map = new BMap.Map("map");
            var point = new BMap.Point(marriageAddressInfo[0], marriageAddressInfo[1]);
            map.centerAndZoom(point, 19);
            map.enableScrollWheelZoom();
            var marker = new BMap.Marker(point);  // 创建标注
            map.addOverlay(marker);               // 将标注添加到地图中
        },
        // 回复
        replyEvent: function () {
            var $formPopup = $('.modal-form');
            $('.J-btn-reply').click(function () {
                var mask = '<div class="modal J-reply-modal active"></div>';
                $formPopup.addClass('active');
                $('body').append(mask);
            })
            $('body').on('click', '.J-reply-modal', function () {
                $formPopup.removeClass('active');
                $('.J-reply-modal').remove();
            })
            // 增加宾客数量
            $('.J-plus').click(function () {
                attendCountAction('add');
            })

            // 减少宾客数量
            $('.J-minus').click(function () {
                attendCountAction('minus');
            })

            function attendCountAction(action) {
                var step = 1;
                var $cnt = $('.attend-cnt');
                var origin = $cnt.text();
                origin = parseInt(origin);
                if (action == 'add') {
                    $cnt.text(origin + step);
                } else {
                    var newCnt = origin - step;
                    if (newCnt < 1) {
                        newCnt = 1;
                    }
                    $cnt.text(newCnt);
                }
            }

            // 提交用户填写的信息
            $('.J-submit-btn').click(function () {
                if (window.mPZ.checkForm($('.J-form'))) {
                    var name = $('input[name=name]').val();
                    var number = $('.attend-cnt').text();
                    var url = '';
                    var data = {};
                    // type==1代表赴宴，type==0代表待定
                    var type = $('input[name=isAttend]:checked').val();
                    if (type == '1') {
                        url = '/invitation/api/setAttend';
                        data = {
                            _id: id,
                            attend: {
                                attendName: name, // 赴宴的名字
                                attendNumber: number, // 人数
                            }
                        }
                    } else {
                        url = '/invitation/api/setIndeterminate';
                        data = {
                            _id: id,
                            indeterminate: {
                                indeterminateName: name,
                                indeterminateNumber: number
                            }
                        }
                    }

                    $.ajax({
                        url: url,
                        type: 'POST',
                        dataType: 'json',
                        data: data,
                        beforeSend: function () {
                            // 禁用按钮防止重复提交
                            $('.J-submit-btn').attr({disabled: "disabled"});
                        },
                        success: function (res) {
                            if (res.status = 200) {
                                $('.J-submit-btn').removeAttr("disabled");
                                $('.J-reply-modal').removeClass('active');
                                $('.J-modal-form').removeClass('active');
                                window.mPZ.toast('发送成功');
                            } else {
                                window.mPZ.toast(res.data);
                            }
                        },
                        error: function (data) {
                            window.mPZ.toast("服务器正忙，请稍后再试");
                        }
                    })
                }
            });
        },
        // 祝福
        blessingEvent: function () {
            $('.J-btn-close').click(function () {
                $('.blessing-wrapper').removeClass('active');
                $('.send-bless').addClass('active');
            })
            $('.send-bless').click(function () {
                $('.send-bless').removeClass('active');
                $('.blessing-wrapper').addClass('active');
            })
            var i = 0;
            var startDo = null;
            var linum, lihei = 50 + 6;

            function toDo(text) {
                var theRQ = $('.live-blessing-list');
                if (theRQ.find('li').length < 3) {
                    return;
                }
                startDo = setInterval(function () {
                    linum = theRQ.find('li').length;
                    // console.log('linum', linum);
                    if (i < linum - 2) {
                        $('.live-blessing-list').animate({'marginTop': -(i * lihei) + 'px'}, 500);
                        i++;
                    } else {
                        var firstLi = $('.live-blessing-list li').eq(0);
                        $('.live-blessing-list').append(firstLi.clone());
                        firstLi.remove();
                        i--;
                        $('.live-blessing-list').css({'marginTop': -(i * lihei + 10) + 'px'});
                        i++;
                        $('.live-blessing-list').animate({'marginTop': -(i * lihei + 10) + 'px'}, 500);
                    }
                }, 3000);
            }

            toDo();
            $('.J-btn-send').on('click', function () {
                if (!window.mPZ.checkForm($('.live-write'))) {
                    return false;
                }
                var text = $('.live-write input[name=blessing]').val();
                var nickname = $('.live-write input[name=nickname]').val();
                var data = {
                    _id: id,
                    wish: {
                        wishName: nickname,
                        wishText: text,
                    }
                };
                $.ajax({
                    url: '/invitation/api/sendWish',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    beforeSend: function () {
                        // 禁用按钮防止重复提交
                        $('.J-btn-send').attr({disabled: "disabled"});
                    },
                    success: function (res) {
                        if (data.status = 200) {
                            $('.J-btn-send').removeAttr("disabled");
                            $('.live-write input').val('');
                            clearInterval(startDo);
                            $('.live-blessing-list').append('<li><div><span class="myself">我：</span>' + text + '</div></li>');
                            if ($('.live-blessing-list li').length > 2) {
                                i++;
                                $('.live-blessing-list').animate({'marginTop': -(i * lihei) + 'px'}, 500);
                            }
                            toDo();
                        } else {
                            window.mPZ.toast(data.data);
                        }
                    },
                    error: function (data) {
                        window.mPZ.toast("服务器正忙，请稍后再试");
                    }
                })
            })
        },
        resultShare: function () {
            //“分享给朋友”
            wx.onMenuShareAppMessage({
                title: "<%= doc['templateForm']['groomName'] %>和<%= doc['templateForm']['brideName'] %>的婚姻邀请", // 分享标题
                desc: '我们要结婚啦！一生一次的婚姻承诺邀请您一起见证', // 分享描述
                link: 'http://ma.eldesign.cn/invitation/result/' + templateId + '?id=' + id, // 分享链接
                imgUrl: $('.J-uploaded-img')[0].src, // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                    _hmt.push(['_trackEvent', '分享', '分享给朋友']);
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            //“分享到朋友圈”
            wx.onMenuShareTimeline({
                title: "<%= doc['templateForm']['groomName'] %>和<%= doc['templateForm']['brideName'] %>的婚姻邀请", // 分享标题
                desc: '我们要结婚啦！一生一次的婚姻承诺邀请您一起见证', // 分享描述
                link: 'http://ma.eldesign.cn/invitation/result/' + templateId + '?id=' + id, // 分享链接
                imgUrl: $('.J-uploaded-img')[0].src, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    _hmt.push(['_trackEvent', '分享', '分享朋友圈']);
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        }
    }
</script>
<script>
    new Page();
</script>


</body>
</html>