<%- include("header.ejs",{"title": "结婚邀请函"}) %>
<link rel="stylesheet" href="/invitation/css/animate.css">

<div class="swiper-container template-container tpl1-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide page tpl1-page page1">
            <div class="main">
                <div class="title">
                    <div class="title-en">
                        <img src="/invitation/img/text-title-en.png" alt="">
                    </div>
                    <div class="title-ch">婚礼邀请函</div>
                    <div class="title-text">一生一世一对人</div>
                </div>
                <div class="photo img-wrapper">
                    <img class="J-uploaded-img" data-tag="tmp1-pic1" src="" alt="photo">
                    <img class="photo-wrapper" src="/invitation/img/tpl1-photo-wrapper-1.png"
                         alt="">
                    <div class="upload-mask">
                        <input type="file">
                    </div>
                </div>
                <div class="info">
                    <div class="name">
                        <span><%= doc['templateForm']['groomName'] %></span>
                        <img src="/invitation/img/icon-and.png" alt="">
                        <span><%= doc['templateForm']['brideName'] %></span>
                    </div>
                    <div class="time" data-time="<%= doc['templateForm']['marriageTime'] %>"></div>
                    <div class="address"><%= doc['templateForm']['marriageAddress'] %></div>
                </div>
            </div>
        </div>
        <div class="swiper-slide page tpl1-page page2">
            <div class="main">
                <div class="photo img-wrapper">
                    <img class="J-uploaded-img" data-tag="tmp1-pic2" src="" alt="photo">
                    <img class="photo-wrapper" src="/invitation/img/tpl1-photo-wrapper-2.png" alt="">
                    <img class="ant-right-top" src="/invitation/img/tpl1-photo-wrapper-2-ani-right.png" alt="">
                    <img class="ani-left-bottom" src="/invitation/img/tpl1-photo-wrapper-2-ani-left.png" alt="">
                    <div class="upload-mask">
                        <input type="file">
                    </div>
                </div>
                <div class="info">
                    <div>从你为我戴上婚戒那一刻开始</div>
                    <div>“我”就变成了“我们”</div>
                </div>
            </div>
        </div>
        <div class="swiper-slide page tpl1-page page3">
            <img class="text" src="/invitation/img/tpl1-3-text.png" alt="">
            <div class="content">
                <div class="img-wrapper">
                    <img class="J-uploaded-img" data-tag="tmp1-pic3" src=""/>
                    <div class="upload-mask">
                        <input type="file">
                    </div>
                </div>
                <div class="img-wrapper">
                    <img class="J-uploaded-img" data-tag="tmp1-pic4" src=""/>
                    <div class="upload-mask">
                        <input type="file">
                    </div>
                </div>
            </div>
            <img class="ani-left-top" src="/invitation/img/tpl1-photo-wrapper-3-ani-left-top.png" alt="">
            <img class="ani-left-bottom" src="/invitation/img/tpl1-photo-wrapper-3-ani-left-bottom.png" alt="">
            <img class="ani-right-bottom" src="/invitation/img/tpl1-photo-wrapper-3-ani-right-bottom.png" alt="">
        </div>
        <div class="swiper-slide page tpl1-page page4">
            <img class="text" src="/invitation/img/tpl1-4-text.png" alt="">
            <div class="img-wrapper">
                <img class="J-uploaded-img" data-tag="tmp1-pic5" src=""/>
                <div class="upload-mask">
                    <input type="file">
                </div>
            </div>
            <div class="img-wrapper">
                <img class="J-uploaded-img" data-tag="tmp1-pic6" src=""/>
                <div class="upload-mask">
                    <input type="file">
                </div>
            </div>
            <img class="ani-left" src="/invitation/img/tpl1-photo-wrapper-4-ani-left.png" alt="">
            <img class="ani-right-top" src="/invitation/img/tpl1-photo-wrapper-4-ani-right-top.png" alt="">
        </div>
        <div class="swiper-slide page tpl1-page page5">
            <img class="text" src="/invitation/img/tpl1-5-text.png" alt="">
            <div class="img-wrapper img-top backgroundFFF">
                <img class="J-uploaded-img " data-tag="tmp1-pic7" src=""/>
                <div class="upload-mask">
                    <input type="file">
                </div>
            </div>
            <div class="img-wrapper img-bottom">
                <img class="J-uploaded-img" data-tag="tmp1-pic8" src=""/>
                <div class="upload-mask">
                    <input type="file">
                </div>
            </div>
            <img class="ani-right-bottom" src="/invitation/img/tpl1-photo-wrapper-5-ani-right-bottom.png" alt="">
        </div>
        <div class="swiper-slide page tpl1-page page6">
            <img class="text" src="/invitation/img/tpl1-6-text.png" alt="">
            <div class="img-wrapper img-top">
                <div class="img-bg"></div>
                <img class="J-uploaded-img" data-tag="tmp1-pic9" src=""/>
                <div class="upload-mask">
                    <input type="file">
                </div>
            </div>
            <div class="img-wrapper img-bottom">
                <div class="img-bg"></div>
                <img class="J-uploaded-img" data-tag="tmp1-pic10" src=""/>
                <div class="upload-mask">
                    <input type="file">
                </div>
            </div>
            <img class="ani-right-top" src="/invitation/img/tpl1-photo-wrapper-6-ani-right-top.png" alt="">
            <img class="ani-bottom" src="/invitation/img/tpl1-photo-wrapper-6-ani-bottom.png" alt="">
        </div>
        <div class="swiper-slide page  tpl1-page page7">
            <div class="mid">
                <div class="portrait">
                    <div class="img-wrapper">
                        <img class="J-uploaded-img" data-tag="tmp1-logo" src=""/>
                        <div class="upload-mask">
                            <input type="file">
                        </div>
                    </div>
                </div>
                <img class="text" src="/invitation/img/tpl1-7-text.png" alt="">
                <div class="map" id="map"></div>
                <div class="info">
                    <div class="time" data-time="<%= doc['templateForm']['marriageTime'] %>"></div>
                    <div class="address"><%= doc['templateForm']['marriageAddress'] %></div>
                </div>
            </div>
            <div class="bottom">
                <div class="item J-settings">
                    <img src="/invitation/img/icon-settings.png" alt="">
                    <span>设置</span>
                </div>
                <div class="item J-save">
                    <img src="/invitation/img/icon-save.png" alt="">
                    <span>保存</span>
                </div>
                <div class="item J-send">
                    <img src="/invitation/img/icon-send.png" alt="">
                    <span>发送</span>
                </div>
            </div>
            <div class="modal J-settings-modal">
                <div class="btn-groups">
                    <a href="javascript:;" class="btn primary-btn J-delete">删除请帖</a>
                    <a href="javascript:;" class="btn primary-btn J-remake">重新制作</a>
                    <a href="javascript:;" class="btn J-cancel">取消</a>
                </div>
            </div>
            <div class="modal J-send-modal">
                <div class="share-groups">
                    <div class="item">
                        <img src="/invitation/img/wechart.png" alt="">
                        <span>微信好友</span>
                    </div>
                    <div class="item">
                        <img src="/invitation/img/sina.png" alt="">
                        <span>新浪微博</span>
                    </div>
                    <div class="item">
                        <img src="/invitation/img/qq-zone.png" alt="">
                        <span>QQ空间</span>
                    </div>
                    <div class="item">
                        <img src="/invitation/img/douban.png" alt="">
                        <span>豆瓣</span>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <img class="btn-cancel J-btn-cancel" src="/invitation/img/icon-close.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--背景音乐 -->
<a href="javascript:; " class="u-globalAudio z-play">
    <i class="icon-music"></i>
</a>
<!--背景音乐 end-->

<%- include("commonjs.ejs") %>
<script src="http://api.map.baidu.com/getscript?v=2.0&ak=2eed95cd0a38f5605d4b885b55211634&services=&t=20170511202040"></script>
<script src="/invitation/js/swiper-3.3.1.jquery.min.js"></script>
<script src="/invitation/js/lrz.all.bundle"></script>

<script>

</script>
<script>

    var id = "<%= doc['_id']; %>";
    var templateId = "<%= doc['templateId']; %>";
    var Info =<%- JSON.stringify(Info) %>;

    function Page() {
        this.init();
    }

    Page.prototype = {
        init: function () {
            var self = this;
            this.initInfo();
            this.initMap();
            this.bindEvent();
            this.settingsEvent();
            this.shareEvent(self);
            this.saveEvent(self);
            this.initDate();
        },
        // 绑定事件
        bindEvent: function () {
            // 后退
            $('.J-back').click(function () {
                window.history.back();
            })
            // 初始化swiper
            var mySwiper = new Swiper('.swiper-container', {
                direction: 'vertical',
            })
            // 背景音乐
            var music_key, once = 0;
            var audioElement = document.createElement('audio');
            audioElement.setAttribute('src', '/invitation/mp3/1.mp3');
            audioElement.controls = true;
            audioElement.loop = true;
            audioElement.autoplay = 'autoplay';
            audioElement.load();
            audioElement.play();

            var onTouchStart = function () {
                if (once == 0) {
                    once = 1;
                    audioElement.play();
                    music_key = 1;
                }
            }

            $(".u-globalAudio").on('touchstart', function () {
                if (music_key == 1) {
                    audioElement.pause();
                    music_key = 0;
                    $(this).addClass('z-pause').removeClass('z-play');
                } else {
                    audioElement.play();
                    music_key = 1;
                    $(this).addClass('z-play').removeClass('z-pause');
                }
                return false;
            });
            // 上传图片
            $('.upload-mask').change(function () {
                var $selector = $(this).find('input[type=file]');
                var $result = $(this).parents('.img-wrapper').find('.J-uploaded-img');
                window.mPZ.uploadImg($selector[0], $result[0]);
            })
        },
        initInfo: function () {
            $('.J-uploaded-img').each(function () {
                var tag = $(this).data('tag');
                $(this).attr('src', Info[tag] || '');
            })
        },
        initDate: function () {
            $('[data-time]').each(function () {
                var time = moment($(this).data('time')).format('YYYY年MM月DD日 hh:mm');
                $(this).text(time);
            })
        },
        initMap: function () {
            // 初始化地图
            var map = new BMap.Map("map");
            var point = new BMap.Point(112.991, 28.218);
            map.centerAndZoom(point, 16);
            // TODO 根据地址查（建议直接存经纬度，因为详细地址是地图上没有，比如房间号）
        },
        // 设置
        settingsEvent: function () {
            $('.J-settings').click(function () {
                $('.J-settings-modal').addClass('active');
            })
            $('.J-delete').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/invitation/api/removeInvitation',
                    data: {
                        deleteId: id
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            window.location.href = '/invitation/index';
                        } else {
                            window.mPZ.toast(data.data);
                        }
                    },
                    dataType: 'json'
                });
            })
            $('.J-remake').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/invitation/api/removeInvitation',
                    data: {
                        deleteId: id
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            window.location.href = '/invitation/template';
                        } else {
                            window.mPZ.toast(data.data);
                        }
                    },
                    dataType: 'json'
                });
            })
            $('.J-settings-modal .J-cancel').click(function () {
                $('.J-settings-modal').removeClass('active');
            })
        },
        // 分享
        shareEvent: function (self) {
            $('.J-send').click(function () {
                self.resultShare();
                // $('.J-send-modal').addClass('active');
                window.mPZ.toast('点击右上角分享');
            });
            $('.J-send-modal .J-btn-cancel').click(function () {
                $('.J-send-modal').removeClass('active');
            })
        },
        // 保存
        saveEvent: function (self) {
            $('.J-save').click(function () {
                var templateInfo = [];
                $('.J-uploaded-img').each(function () {
                    templateInfo.push({
                        tag: $(this).data('tag'),
                        value: $(this).data('src')
                    });
                })
                $.ajax({
                    type: 'POST',
                    url: '/invitation/api/updateInvitationInfo',
                    data: {
                        _id: id,
                        templateInfo: templateInfo
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.status == 200) {
                            self.resultShare();
                            window.mPZ.toast('保存成功');
                        } else {
                            window.mPZ.toast(data.data);
                        }
                    },
                    dataType: 'json'
                });
            })
        },
        resultShare: function () {
            //“分享给朋友”
            wx.onMenuShareAppMessage({
                title: "<%= doc['templateForm']['groomName'] %>和<%= doc['templateForm']['brideName'] %>的婚姻邀请", // 分享标题
                desc: '我们要结婚啦！一生一次的婚姻承诺邀请您一起见证', // 分享描述
                link: 'http://ma.eldesign.cn/invitation/result/' + templateId + '?id=' + id, // 分享链接
                imgUrl: $('.J-uploaded-img')[0].src, // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数

                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            //“分享到朋友圈”
            wx.onMenuShareTimeline({
                title: "<%= doc['templateForm']['groomName'] %>和<%= doc['templateForm']['brideName'] %>的婚姻邀请", // 分享标题
                desc: '我们要结婚啦！一生一次的婚姻承诺邀请您一起见证', // 分享描述
                link: 'http://ma.eldesign.cn/invitation/result/' + templateId + '?id=' + id, // 分享链接
                imgUrl: $('.J-uploaded-img')[0].src, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        }
    }
</script>
<script>
    new Page();
</script>


</body>
</html>