<%- include("header.ejs",{"title": "结婚邀请函"}) %>
<link rel="stylesheet" href="/invitation/css/animate.css">

<div class="swiper-container template-container tpl2-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide page tpl2-page page1">
            <div class="main">
                <div class="title">
                    <div class="title-en">
                        <img src="/invitation/img/tpl2-1-title.png" alt="">
                    </div>
                </div>
                <div class="info">
                    <div class="name">
                        <span><%= doc['templateForm']['groomName'] %></span>
                        <img src="/invitation/img/icon-and.png" alt="">
                        <span><%= doc['templateForm']['brideName'] %></span>
                    </div>
                    <div class="time" data-time="<%= doc['templateForm']['marriageTime'] %>"></div>
                    <div class="address"><%= doc['templateForm']['marriageAddress'] %></div>
                </div>
            </div>
        </div>
        <div class="swiper-slide page tpl2-page page2">
            <div class="text-wrapper">
                <img class="text" src="/invitation/img/tpl2-2-text.png" alt="">
            </div>

            <div class="content img-wrapper">
                <img class="J-uploaded-img" data-tag="tmp2-pic1" src="" alt="photo"/>
            </div>

            <img class="photo-wrapper" src="/invitation/img/tpl2-photo-wrapper-2.png" alt="">


            <div class="upload-mask">
                <input type="file">
            </div>
        </div>
        <div class="swiper-slide page tpl2-page page3">
            <div class="text-wrapper">
                <img class="text" src="/invitation/img/tpl2-3-text.png" alt="">
            </div>
            <div class="content img-wrapper">
                <img class="J-uploaded-img" data-tag="tmp2-pic2" src="" alt="photo"/>
            </div>
            <img class="photo-wrapper" src="/invitation/img/tpl2-photo-wrapper-3.png" alt="">
            <div class="upload-mask">
                <input type="file">
            </div>
        </div>
        <div class="swiper-slide page tpl2-page page4">
            <img class="text" src="/invitation/img/tpl2-4-text.png" alt="">
            <div class="content">
                <div class="img-left img-wrapper">
                    <img class="J-uploaded-img" data-tag="tmp2-pic3" src="" alt="photo"/>
                    <div class="upload-mask">
                        <input type="file">
                    </div>
                </div>
                <div class="img-right img-wrapper">
                    <img class="J-uploaded-img" data-tag="tmp2-pic4" src="" alt="photo"/>
                    <div class="upload-mask">
                        <input type="file">
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide page tpl2-page page5">
            <div class="text-wrapper">
                <img class="text" src="/invitation/img/tpl2-5-text.png" alt="">
            </div>
            <div class="content">
                <div class="img-ani-wrapper img-ani-wrapper-left">
                    <div class="img-left-bg"></div>
                    <div class="img-left img-wrapper">
                        <img class="J-uploaded-img" data-tag="tmp2-pic5" src="" alt="photo"/>
                        <div class="upload-mask">
                            <input type="file">
                        </div>
                    </div>
                </div>
                <div class="img-ani-wrapper img-ani-wrapper-right">
                    <div class="img-right-bg"></div>
                    <div class="img-right img-wrapper">
                        <img class="J-uploaded-img" data-tag="tmp2-pic6" src="" alt="photo"/>
                        <div class="upload-mask">
                            <input type="file">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide page tpl2-page page6">
            <div class="text-wrapper">
                <img class="text" src="/invitation/img/tpl2-6-text.png" alt="">
            </div>
            <div class="content img-wrapper">
                <img class="J-uploaded-img" data-tag="tmp2-pic7" src="" alt="photo"/>
                <img class="photo-wrapper" src="/invitation/img/tpl2-photo-wrapper-6.png" alt="">
                <div class="upload-mask">
                    <input type="file">
                </div>
            </div>
        </div>
        <div class="swiper-slide page  tpl2-page page7">
            <div class="mid">
                <div class="portrait img-wrapper">
                    <img class="J-uploaded-img" data-tag="tmp2-logo" src=""/>
                    <div class="upload-mask">
                        <input type="file">
                    </div>
                </div>
                <img class="text" src="/invitation/img/tpl1-7-text.png" alt="">
                <div class="map" id="map"></div>
                <div class="info">
                    <div class="time" data-time="<%= doc['templateForm']['marriageTime'] %>"></div>
                    <div class="address"><%= doc['templateForm']['marriageAddress'] %></div>
                </div>
            </div>
            <div class="bottom">
                <div class="item J-settings">
                    <img src="/invitation/img/icon-settings.png" alt="">
                    <span>设置</span>
                </div>
                <div class="item J-save">
                    <img src="/invitation/img/icon-save.png" alt="">
                    <span>保存</span>
                </div>
                <div class="item J-send">
                    <img src="/invitation/img/icon-send.png" alt="">
                    <span>发送</span>
                </div>
            </div>
            <div class="modal J-settings-modal">
                <div class="btn-groups">
                    <a href="javascript:;" class="btn primary-btn J-delete">删除请帖</a>
                    <a href="javascript:;" class="btn primary-btn J-remake">重新制作</a>
                    <a href="javascript:;" class="btn J-cancel">取消</a>
                </div>
            </div>
            <div class="modal J-send-modal">
                <div class="share-groups">
                    <div class="item">
                        <img src="/invitation/img/wechart.png" alt="">
                        <span>微信好友</span>
                    </div>
                    <div class="item">
                        <img src="/invitation/img/sina.png" alt="">
                        <span>新浪微博</span>
                    </div>
                    <div class="item">
                        <img src="/invitation/img/qq-zone.png" alt="">
                        <span>QQ空间</span>
                    </div>
                    <div class="item">
                        <img src="/invitation/img/douban.png" alt="">
                        <span>豆瓣</span>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <img class="btn-cancel J-btn-cancel" src="/invitation/img/icon-close.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--背景音乐 -->
<a href="javascript:; " class="u-globalAudio z-play">
    <i class="icon-music"></i>
</a>
<!--背景音乐 end-->

<%- include("commonjs.ejs") %>
<script src="http://api.map.baidu.com/getscript?v=2.0&ak=2eed95cd0a38f5605d4b885b55211634&services=&t=20170511202040"></script>
<script src="/invitation/js/swiper-3.3.1.jquery.min.js"></script>
<script src="/invitation/js/lrz.all.bundle"></script>
<script src="/javascripts/jquery.pep.js"></script>
<script src="/javascripts/touch-0.2.13.min.js"></script>

<script>

</script>
<script>
    alert(1);

    var id = "<%= doc['_id']; %>";
    var templateId = "<%= doc['templateId']; %>";
    var Info =<%- JSON.stringify(Info) %>;
    var marriageAddressInfo = '<%- doc["templateForm"]["marriageAddressInfo"] %>'.split(',');


    function Page() {
        this.init();
    }

    Page.prototype = {
        init: function () {
            var self = this;

            //初始化信息
            this.initInfo();
            // 初始化日期格式
            this.initDate();

            this.bindEvent();
        },
        // 绑定事件
        bindEvent: function () {
            var self = this;


            this.initSwiper();
            this.initUploadImg();
            this.initMusic();
            this.settingsEvent();
            this.shareEvent(self);
            this.saveEvent(self);
            this.initMap();
            // 后退
            $('.J-back').click(function () {
                window.history.go(-1);
            })

        },
        initSwiper: function () {
            // 初始化swiper
            var mySwiper = new Swiper('.swiper-container', {
                direction: 'vertical',
            })
        },
        initMusic: function () {
            // 背景音乐
            var audioElement = document.createElement('audio');
            audioElement.setAttribute('src', '/invitation/mp3/2.mp3');
            audioElement.controls = true;
            audioElement.loop = true;
            audioElement.autoplay = 'autoplay';
            audioElement.load();
            audioElement.play();

            var onTouchStart = function () {
                audioElement.play();
            }

            $('body').one('touchstart', onTouchStart);

            $(".u-globalAudio").on('click', function (e) {
                e.stopPropagation();
                e.preventDefault();
                if ($(this).hasClass('z-play')) {
                    audioElement.pause();
                    $(this).addClass('z-pause').removeClass('z-play');
                } else {
                    audioElement.play();
                    $(this).addClass('z-play').removeClass('z-pause');
                }
                return false;
            });
        },
        initUploadImg: function () {

            // 上传图片
            $('.upload-mask').change(function () {
                var $selector = $(this).find('input[type=file]');
                var $result = $(this).parents('.img-wrapper').find('.J-uploaded-img');
                // 当wrapper是整个背景图时
                if (!$result.length) {
                    $result = $(this).siblings('.img-wrapper').find('.J-uploaded-img');
                }
                window.mPZ.uploadImg($selector[0], $result[0]);
            });

            var $UploadedImg = $('.J-uploaded-img');
            $UploadedImg.pep({
                shouldEase: false,
                useCSSTranslation: false,
                startPos: [0, 0],
                place: false,
                // allowDragEventPropagation: false,
                // constrainTo: "window"
            });
        },
        initInfo: function () {
            $('.J-uploaded-img').each(function () {
                var tag = $(this).data('tag');
                var src = Info[tag] && Info[tag].split('###')[0];
                var others = Info[tag] && Info[tag].split('###')[1];

                if (!src || src == "undefined" || src == "null") {
                    src = '';
                }

                $(this).attr('src', src);
                $(this).css({
                    top: others && others.split(',')[0],
                    left: others && others.split(',')[1],
                });
                var $uploadMask = $(this).siblings('.upload-mask');
                if (!$uploadMask.length) {
                    $uploadMask = $(this).parent().siblings('.upload-mask');
                }
                if (src) {
                    $uploadMask.addClass('uploaded');
                } else {
                    $uploadMask.removeClass('uploaded');
                }

            })
        },
        initDate: function () {
            $('[data-time]').each(function () {
                var time = moment($(this).data('time')).format('YYYY年MM月DD日 hh:mm');
                $(this).text(time);
            })
        },
        initMap: function () {
            // 初始化地图
            var map = new BMap.Map("map");
            var point = new BMap.Point(marriageAddressInfo[0], marriageAddressInfo[1]);
            map.centerAndZoom(point, 16);
            map.enableScrollWheelZoom();
        },
        // 设置
        settingsEvent: function () {
            $('.J-settings').click(function () {
                $('.J-settings-modal').addClass('active');
            })
            $('.J-delete').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/invitation/api/removeInvitation',
                    data: {
                        deleteId: id
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            window.location.href = '/invitation/index';
                        } else {
                            window.mPZ.toast(data.data);
                        }
                    },
                    dataType: 'json'
                });
            })
            $('.J-remake').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/invitation/api/removeInvitation',
                    data: {
                        deleteId: id
                    },
                    success: function (data) {
                        if (data.status == 200) {
                            window.location.href = '/invitation/template';
                        } else {
                            window.mPZ.toast(data.data);
                        }
                    },
                    dataType: 'json'
                });
            })
            $('.J-settings-modal .J-cancel').click(function () {
                $('.J-settings-modal').removeClass('active');
            })
        },
        // 分享
        shareEvent: function (self) {
            $('.J-send').click(function () {
                self.resultShare();
                // $('.J-send-modal').addClass('active');
                window.mPZ.toast('点击右上角分享');
            });
            $('.J-send-modal .J-btn-cancel').click(function () {
                $('.J-send-modal').removeClass('active');
            })
        },
        // 保存
        saveEvent: function (self) {
            $('.J-save').click(function () {
                var templateInfo = [];
                $('.J-uploaded-img').each(function () {
                    templateInfo.push({
                        tag: $(this).data('tag'),
                        value: $(this).attr('src'),
                        others: [$(this).css('top'), $(this).css('left')].toString()
                    });
                })
                console.log(templateInfo);
                $.ajax({
                    type: 'POST',
                    url: '/invitation/api/updateInvitationInfo',
                    data: {
                        _id: id,
                        templateInfo: templateInfo
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.status == 200) {
                            self.resultShare();
                            window.mPZ.toast('保存成功');
                        } else {
                            window.mPZ.toast(data.data);
                        }
                    },
                    dataType: 'json'
                });
            })
        },
        resultShare: function () {
            //“分享给朋友”
            wx.onMenuShareAppMessage({
                title: "<%= doc['templateForm']['groomName'] %>和<%= doc['templateForm']['brideName'] %>的婚姻邀请", // 分享标题
                desc: '我们要结婚啦！一生一次的婚姻承诺邀请您一起见证', // 分享描述
                link: 'http://ma.eldesign.cn/invitation/result/' + templateId + '?id=' + id, // 分享链接
                imgUrl: $('.J-uploaded-img')[0].src, // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                    _hmt.push(['_trackEvent', '分享', '分享给朋友']);
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            //“分享到朋友圈”
            wx.onMenuShareTimeline({
                title: "<%= doc['templateForm']['groomName'] %>和<%= doc['templateForm']['brideName'] %>的婚姻邀请", // 分享标题
                desc: '我们要结婚啦！一生一次的婚姻承诺邀请您一起见证', // 分享描述
                link: 'http://ma.eldesign.cn/invitation/result/' + templateId + '?id=' + id, // 分享链接
                imgUrl: $('.J-uploaded-img')[0].src, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    _hmt.push(['_trackEvent', '分享', '分享朋友圈']);
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
        }
    }
</script>
<script>
    new Page();
</script>


</body>
</html>