<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>


<p> openid <%= data.openid %></p>
<p> nickname <%= data.personInfo.nickname %></p>
<p> sex <%= data.personInfo.sex %></p>
<img src="<%= data.personInfo.headimgurl %>"/>

