<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<!--<p> openid <%= data.openid %></p>-->
<!--<p> nickname <%= data.personInfo.nickname %></p>-->
<!--<p> sex <%= data.personInfo.sex %></p>-->
<!--<img src="<%= data.personInfo.headimgurl %>" />-->




</body>
</html>
