<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<style>
    body {
        font-size: 24px;
        color: #000;
    }
</style>


<%= title %>

<p> openid: <%= data.openid %></p>
<p> 用户名: <%= data.nickname %></p>
<p> 性别: <%= data.sex %></p>
<p> 城市: <%= data.city %></p>
<img src="<%= data.headimgurl %>"/>


<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</body>
</html>
