<%- include("header.ejs",{"title":'老师详情页面'}) %>

<link rel='stylesheet' href='/swiper/swiper-3.3.1.min.css'/>
<style>
    html, body {
        height: auto;
        min-height: 100%;
        overflow: auto;
    }
</style>
<div class="page page-detail">
    <img src="/images/teacher/detail-title.png" class="detail-title"/>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="swiper-img" src="/files/<%= data.VoteInfo.personPic %>"/>
            </div>
            <div class="swiper-slide">
                <img class="swiper-img" src="/files/<%= data.VoteInfo.groupPic %>"/>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>

    <img src="/images/teacher/detail-vote-title.png" class="detail-vote-title"/>
    <div class="detail-vote-box">
        <%= data.VoteInfo.voteWords ? data.VoteInfo.voteWords : '暂时没有宣言!' %>
    </div>

    <div class="btn-list">
        <img src="/images/teacher/detail-vote-btn.png" class="vote-btn J-vote">

        <div class="vote-counts">
            总票数: <span class="J-counts"><%= data.VoteData.totalVoteCounts ? data.VoteData.totalVoteCounts : 0 %></span>
        </div>
    </div>

    <img src="/images/teacher/detail-word-title.png" class="word-title"/>
    <div class="writeVoteBox">
        <img src="/images/teacher/detail-writeVote.png" class="writeVote"/>
    </div>

    <div class="word-list">
        <% for(var i = 0;i < 4;i++){ %>
        <div class="word-item">
            <div class="name">zasdad</div>
            <div class="content">我是李文彬我是李文彬我是李文彬我是李文彬我是李文彬我是李文彬我是李文彬我是李文彬我是李文彬我是李文彬</div>
        </div>
        <% } %>
    </div>

    <img src="/images/teacher/detail-more-btn.png" class="detail-more-btn J-gotoList"/>

</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/api.js"></script>
<script src="/javascripts/cookie.js"></script>
<script src="/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var id = "<%= data._id %>";
    var cityNo = "<%= data.teacherInfo.cityNo %>";

    $('.J-vote').click(function () {
        $.ajax({
            type: 'POST',
            url: '/teacher/api/vote',
            data: {id: id},
            success: function (data) {
                console.log(data);
                if (data.status == '200') {
                    alert('投票成功');
                    var counts = data.data.counts;
                    $('.J-counts').text(counts);
                } else {
                    alert(data.errmsg);
                }
            },
            dataType: 'json'
        });
    });

    $('.J-gotoList').click(function () {
        window.location.href = '/teacher/list?cityNo=' + cityNo;
    });


    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        // 如果需要分页器
        pagination: '.swiper-pagination'
    })
</script>
</body>
</html>
