<%- include("header.ejs",{"title":'老师详情页面'}) %>

<link rel='stylesheet' href='/swiper/swiper-3.3.1.min.css'/>
<style>
    html, body {
        height: auto;
        min-height: 100%;
        overflow: auto;
    }
</style>

<%
function hanldePic(pic) {
    if (pic.indexOf('.png') > -1) {
        return pic.split('.png')[0] + '.jpg';
    } else {
        return pic;
    }
}
%>
<div class="page page-detail">

    <div class="overlay" style="position: fixed;"></div>
    <div class="qcode-box mid" style="z-index: 100; display: none; position: fixed;">
        <img src="/images/teacher/qcode.jpg" style="width: 450px;"/>
        <div class="qcode-txt">投票成功<br/>长按识别二维码<br/>关注英孚教育青少儿英语<br/>获得更多精彩资讯</div>
        <!--<a href="javascript:;" class="btn J-closed">知道了</a>-->
    </div>

    <img src="/images/teacher/detail-title.png" class="detail-title"/>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="swiper-img" src="/files/<%= hanldePic(data.VoteInfo.personPic) %>"/>
            </div>
            <div class="swiper-slide">
                <img class="swiper-img" src="/files/<%= hanldePic(data.VoteInfo.groupPic) %>"/>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>

    <img src="/images/teacher/detail-vote-title.png" class="detail-vote-title"/>
    <div class="detail-vote-box">
        <%= data.VoteInfo.voteWords ? data.VoteInfo.voteWords : '暂时没有宣言!' %>
    </div>

    <div class="btn-list">
        <img src="/images/teacher/detail-vote-btn.png" class="vote-btn J-vote">

        <div class="vote-counts">
            总票数: <span class="J-counts"><%= data.VoteData.totalVoteCounts ? data.VoteData.totalVoteCounts : 0 %></span>
        </div>
    </div>

    <img src="/images/teacher/detail-word-title.png" class="word-title"/>
    <div class="writeVoteBox">
        <img src="/images/teacher/detail-writeVote.png" class="writeVote J-writeVote"/>
        <div class="clearfix"></div>
        <div class="writeVoteForm">
            <input type="text" class="input J-name" placeholder="你的昵称">
            <div class="textarea-box">
                <textarea class="textarea J-textarea" name="voteWords" placeholder="请输入文本" rows="3"></textarea>
                <div class="textarea-counter"><span class="current-words">0</span>/<span class="total-words">300</span>
                </div>
            </div>
            <a class="btn J-submitContent" href="javascript:;">提交</a>
        </div>
    </div>

    <div class="word-list">
        <% for(var i = 0;i < data.studentWords.length;i++){ %>
        <%
            function check() {
                var flag = true;
                var words = ['人工', '拉票', '投票', '刷票', 'piao', '这女上过', '拿刀逼着投的'];
                for (var j = 0; j < words.length; j++) {
                    if (data.studentWords[i].studentName.indexOf(words[j]) >= 0 || data.studentWords[i].content.indexOf(words[j]) >= 0) {
                        flag = false;
                    }
                }
                return flag;
            }
        %>
        <% if (check()){ %>
        <div class="word-item">
            <div class="name"><%= data.studentWords[i].studentName %></div>
            <div class="content"><%= data.studentWords[i].content %></div>
        </div>
        <% } %>
        <% } %>
    </div>
    <img src="/images/teacher/detail-more-btn.png" class="detail-more-btn J-gotoList"/>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/api.js"></script>
<script src="/javascripts/cookie.js"></script>
<script src="/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var id = "<%= data._id %>";
    var cityNo = "<%= data.teacherInfo.cityNo %>";
    var schoolNo = "<%= data.teacherInfo.schoolNo %>";
    var realName = "<%= data.teacherInfo.realName %>";

    var again = window.localStorage.getItem('again');
    var date = new Date().getMonth() + '_' + new Date().getDate();
    var voteIDString = window.localStorage.getItem('voteIDArray' + '_' + date);
    var voteIDArray = (voteIDString && voteIDString.split(',')) || [];


    //投票
    $('.J-vote').click(function () {

//        if (!again) {
//            $('.overlay').show();
//            $('.qcode-box').show();
//            window.localStorage.setItem('again', true);
//            window.localStorage.setItem('preId', id);
//            return false;
//        }

        if (voteIDArray.length > 0 && $.inArray(id, voteIDArray) >= 0) {
            toast('你已投过票了');
            return false;
        }


        loadingShow();

        $.ajax({
            type: 'POST',
            url: '/teacher/api/vote',
            data: {id: id},
            success: function (data) {
                console.log(data);
                loadingHide();
                if (data.status == '200') {

                    $('.overlay').show();
                    $('.qcode-box').show();

                    voteIDArray.push(id);
                    var date = new Date().getMonth() + '_' + new Date().getDate();
                    window.localStorage.setItem('voteIDArray' + '_' + date, voteIDArray.toString());
                    var counts = data.data.counts;
                    $('.J-counts').text(counts);
                } else if (data.status == '998') {

                    $('.overlay').show();
                    $('.qcode-box').show();

                    window.localStorage.setItem('again', true);
                    window.localStorage.setItem('preId', id);
                    return false;
                } else {
                    toast(data.errmsg);
                }
            },
            dataType: 'json'
        });
    });

    $('.overlay').click(function () {
        $('.overlay').hide();
        $('.qcode-box').hide();
    });
    $('.J-closed').click(function () {
        $('.overlay').hide();
        $('.qcode-box').hide();
    });


    //去列表页
    $('.J-gotoList').click(function () {
        window.location.href = '/teacher/list?cityNo=' + cityNo + '&schoolNo=' + schoolNo;
    });
    //写评价
    $('.J-writeVote').click(function () {
        var contentID = window.localStorage.getItem('contentID');
        if (contentID && contentID == id) {
            toast('已经评价过了');
            return false;
        }

        $('.writeVoteForm').addClass('active');
    })

    $('.J-submitContent').click(function () {
        var contentData = {
            studentName: $('.J-name').val(),
            content: $('.J-textarea').val(),
            time: new Date().getTime()
        }

        if (contentData.studentName.length <= 0) {
            toast('昵称不能为空');
            return false;
        }
        if (contentData.content.length <= 0) {
            toast('评价不能为空');
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '/teacher/api/content',
            data: {data: JSON.stringify(contentData), id: id},
            success: function (data) {
                console.log(data);
                loadingHide();
                if (data.status == '200') {
                    toast('评价成功');
                    genContentList(data.data.studentWords);
                    $('.writeVoteForm').removeClass('active');
                    window.localStorage.setItem('contentID', id);
                } else {
                    toast(data.errmsg);
                }
            },
            dataType: 'json'
        });


    });

    $('.J-textarea').on('input', function () {
        var v = $(this).val();
        var totalWords = $('.total-words').text() * 1;
        if (v.length > totalWords) {
            v = v.substr(0, totalWords);
            $(this).val(v);
        } else {
            $('.current-words').text(v.length);
        }
    });


    function genContentList(data) {
        var str = '';
        $.each(data, function (index, item) {
            str += '<div class="word-item">';
            str += '<div class="name">' + item.studentName + '</div>';
            str += '<div class="content">' + item.content + '</div></div>';
        });
        $('.word-list').html(str);
    }


    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        autoplayDisableOnInteraction: false,
        autoplay: 2500,
        // 如果需要分页器
        pagination: '.swiper-pagination'
    })
</script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

    initWX(initWXSahre);

    function initWXSahre() {

        //“分享给朋友”
        wx.onMenuShareAppMessage({
            title: realName + '正在参加英孚金牌班主任评选，快为TA投票，让TA和胡歌一起参加教育论坛吧！', // 分享标题
            desc: '谁是英孚金牌班主任？由你来决定！', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/images/teacher/sharelogo.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //“分享到朋友圈”
        wx.onMenuShareTimeline({
            title: realName + '正在参加英孚金牌班主任评选，快为TA投票，让TA和胡歌一起参加教育论坛吧！', // 分享标题
            desc: '谁是英孚金牌班主任？由你来决定！', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/images/teacher/sharelogo.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    }

    function initWX(callback) {

        $.ajax({
            type: 'GET',
            url: '/api/getWxSDK',
            data: {'originalUrl': window.location.href},
            success: function (data) {
                var wxConfig = data.data.wxConfig;


                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: wxConfig.appId, // 必填，公众号的唯一标识
                    timestamp: wxConfig.timestamp, // 必填，生成签名的时间戳
                    nonceStr: wxConfig.nonceStr, // 必填，生成签名的随机串
                    signature: wxConfig.signature,// 必填，签名，见附录1
                    jsApiList: ['startRecord', 'stopRecord', 'playVoice', 'onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                });

                wx.ready(function () {
                    callback && callback();
                });

                wx.error(function (res) {
                    log(res);
                });


            },
            dataType: 'json'
        });


    }
</script>

<div style="display: none;">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1261210751'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261210751' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
</body>
</html>
