<%- include("header.ejs",{"title":'老师详情页面'}) %>

<link rel='stylesheet' href='/swiper/swiper-3.3.1.min.css'/>
<style>
    html, body {
        height: auto;
        min-height: 100%;
        overflow: auto;
    }
</style>
<div class="page page-detail">
    <img src="/images/teacher/detail-title.png" class="detail-title"/>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="swiper-img" src="/files/<%= data.VoteInfo.personPic %>"/>
            </div>
            <div class="swiper-slide">
                <img class="swiper-img" src="/files/<%= data.VoteInfo.groupPic %>"/>
            </div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
    </div>

    <img src="/images/teacher/detail-vote-title.png" class="detail-vote-title"/>
    <div class="detail-vote-box">
        <%= data.VoteInfo.voteWords ? data.VoteInfo.voteWords : '暂时没有宣言!' %>
    </div>

    <div class="btn-list">
        <img src="/images/teacher/detail-vote-btn.png" class="vote-btn J-vote">

        <div class="vote-counts">
            总票数: <span class="J-counts"><%= data.VoteData.totalVoteCounts ? data.VoteData.totalVoteCounts : 0 %></span>
        </div>
    </div>

    <img src="/images/teacher/detail-word-title.png" class="word-title"/>
    <div class="writeVoteBox">
        <img src="/images/teacher/detail-writeVote.png" class="writeVote J-writeVote"/>
        <div class="clearfix"></div>
        <div class="writeVoteForm">
            <input type="text" class="input J-name" placeholder="你的昵称">
            <div class="textarea-box">
                <textarea class="textarea J-textarea" name="voteWords" placeholder="请输入文本" rows="3"></textarea>
                <div class="textarea-counter"><span class="current-words">0</span>/<span class="total-words">300</span>
                </div>
            </div>
            <a class="btn J-submitContent" href="javascript:;">提交</a>
        </div>
    </div>

    <div class="word-list">
        <% for(var i = 0;i < data.studentWords.length;i++){ %>
        <div class="word-item">
            <div class="name"><%= data.studentWords[i].studentName %></div>
            <div class="content"><%= data.studentWords[i].content %></div>
        </div>
        <% } %>
    </div>

    <img src="/images/teacher/detail-more-btn.png" class="detail-more-btn J-gotoList"/>

</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/api.js"></script>
<script src="/javascripts/cookie.js"></script>
<script src="/swiper/swiper-3.3.1.jquery.min.js"></script>
<script>
    var id = "<%= data._id %>";
    var cityNo = "<%= data.teacherInfo.cityNo %>";
    var schoolNo = "<%= data.teacherInfo.schoolNo %>"

    //投票
    $('.J-vote').click(function () {
        var voteID = window.localStorage.getItem('voteID');
        if (voteID && voteID == id) {
            toast('你已投过票了');
            return false;
        }


        loadingShow();

        $.ajax({
            type: 'POST',
            url: '/teacher/api/vote',
            data: {id: id},
            success: function (data) {
                console.log(data);
                loadingHide();
                if (data.status == '200') {
                    toast('投票成功');
                    window.localStorage.setItem('voteID', id);
                    var counts = data.data.counts;
                    $('.J-counts').text(counts);
                } else {
                    toast(data.errmsg);
                }
            },
            dataType: 'json'
        });
    });
    //去列表页
    $('.J-gotoList').click(function () {
        window.location.href = '/teacher/list?cityNo=' + cityNo + '&schoolNo=' + schoolNo;
    });
    //写评价
    $('.J-writeVote').click(function () {
        var contentID = window.localStorage.getItem('contentID');
        if (contentID && contentID == id) {
            toast('已经评价过了');
            return false;
        }

        $('.writeVoteForm').addClass('active');
    })

    $('.J-submitContent').click(function () {
        var contentData = {
            studentName: $('.J-name').val(),
            content: $('.J-textarea').val(),
            time: new Date().getTime()
        }

        if (contentData.studentName.length <= 0) {
            toast('昵称不能为空');
            return false;
        }
        if (contentData.content.length <= 0) {
            toast('评价不能为空');
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '/teacher/api/content',
            data: {data: JSON.stringify(contentData), id: id},
            success: function (data) {
                console.log(data);
                loadingHide();
                if (data.status == '200') {
                    toast('评价成功');
                    genContentList(data.data.studentWords);
                    $('.writeVoteForm').removeClass('active');
                    window.localStorage.setItem('contentID', id);
                } else {
                    toast(data.errmsg);
                }
            },
            dataType: 'json'
        });


    });

    $('.J-textarea').on('input', function () {
        var v = $(this).val();
        var totalWords = $('.total-words').text() * 1;
        if (v.length > totalWords) {
            v = v.substr(0, totalWords);
            $(this).val(v);
        } else {
            $('.current-words').text(v.length);
        }
    });


    function genContentList(data) {
        var str = '';
        $.each(data, function (index, item) {
            str += '<div class="word-item">';
            str += '<div class="name">' + item.studentName + '</div>';
            str += '<div class="content">' + item.content + '</div></div>';
        });
        $('.word-list').html(str);
    }


    var mySwiper = new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        // 如果需要分页器
        pagination: '.swiper-pagination'
    })
</script>
</body>
</html>
