<%- include("header.ejs",{"title":'老师列表页面'}) %>

<style>
    html {
        height: 100%;
        overflow: auto;
    }

    body {
        height: auto;
        min-height: 100%;
        overflow: auto;
        background: #9fdbee;
    }
</style>
<div class="page page-list">
    <div class="list-header">
        <img src="/images/teacher/list-title.png" class="list-title">
    </div>
    <div class="list-selectBox">
        <select class="city-select J-city">
            <% for(var i = 0, cityList = data.cityList;i < cityList.length;i++){ %>
            <option value="<%= cityList[i].cityNo %>" <%= (cityList[i].cityNo == data.cityNo ? 'selected' : '') %> >
                <%= cityList[i].cityName %>
            </option>
            <% } %>
        </select>

        <select class="school-select J-school">
            <% for(var i = 0, schoolArray = data.schoolArray;i < schoolArray.length;i++){ %>
            <option value="<%= i %>" <%= (i == data.schoolNo ? 'selected' : '') %> >
                <%= schoolArray[i] %>
            </option>
            <% } %>
        </select>
    </div>

    <div class="list-box">
        <% for(var i = 0, list = data.list;i < list.length;i++){ %>
        <div class="list-item J-item" data-id="<%= list[i]._id %>">
            <div class="list-img">
                <img class="swiper-img" src="/files/<%= list[i].VoteInfo.personPic %>"/>
            </div>
            <div class="list-des">
                <%= list[i].teacherInfo.realName %> <br/>

                总票数:<%= list[i].VoteData.totalVoteCounts || 0 %>
            </div>
        </div>
        <% } %>

    </div>

</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/api.js"></script>
<script src="/javascripts/cookie.js"></script>
<script>

    var preId = window.localStorage.getItem('preId');
    if (preId) {
        window.localStorage.removeItem('preId');
        window.location.href = '/teacher/detail?id=' + preId;
    }

    $('.J-item').click(function () {
        window.location.href = '/teacher/detail?id=' + $(this).data('id');
    });

    $('.J-city').change(function () {
        window.location.href = '/teacher/list?cityNo=' + $('.J-city').val() + '&schoolNo=0';
    });

    $('.J-school').change(function () {
        window.location.href = '/teacher/list?cityNo=' + $('.J-city').val() + '&schoolNo=' + $('.J-school').val();
    });


</script>


<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>

    initWX(initWXSahre);

    function initWXSahre() {

        //“分享给朋友”
        wx.onMenuShareAppMessage({
            title: '参加英孚金牌班主任评选，快为TA投票，让TA和胡歌一起参加教育论坛吧！', // 分享标题
            desc: '谁是英孚金牌班主任？由你来决定！', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/images/teacher/sharelogo.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //“分享到朋友圈”
        wx.onMenuShareTimeline({
            title: realName + '正在参加英孚金牌班主任评选，快为TA投票，让TA和胡歌一起参加教育论坛吧！', // 分享标题
            desc: '谁是英孚金牌班主任？由你来决定！', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/images/teacher/sharelogo.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    }

    function initWX(callback) {

        $.ajax({
            type: 'GET',
            url: '/api/getWxSDK',
            data: {'originalUrl': window.location.href},
            success: function (data) {
                var wxConfig = data.data.wxConfig;

                //log(wxConfig);

                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: wxConfig.appId, // 必填，公众号的唯一标识
                    timestamp: wxConfig.timestamp, // 必填，生成签名的时间戳
                    nonceStr: wxConfig.nonceStr, // 必填，生成签名的随机串
                    signature: wxConfig.signature,// 必填，签名，见附录1
                    jsApiList: ['startRecord', 'stopRecord', 'playVoice', 'onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                });

                wx.ready(function () {
                    callback && callback();
                });

                wx.error(function (res) {
                    log(res);
                });


            },
            dataType: 'json'
        });


    }
</script>
</body>
</html>
