<%- include("header.ejs",{"title": "英孚亲子共读训练营"}) %>
<style>
    body.ipad {
        padding-bottom: 160px;
    }
</style>
<div class="page main-page index-page active">
    <div class="date-box">
        <div class="date-box-icon"></div>
        <div class="date-box-text"></div>
    </div>

    <div class="index-words">
        <div class="index-words-h1">12月我们一起读</div>
        <div class="index-words-h2">Nametale 你的名字也有故事</div>
        <div class="index-words-cn">
            12月英孚青少儿英语精心研发近百个趣味姓名童话，纯正地道的外教配音，相信会让孩子爱上英语阅读！现在点击屏幕下方图片，还可免费为孩子定制专属名字故事书。
        </div>
    </div>

    <div class="index-main">
        <div class="day-box">DAY <span
                    class="days J-currentRecodeCounts"><%= (UserInfo['recodeInfo'] && UserInfo['recodeInfo']['currentRecodeCounts']) || 0 %></span>
        </div>
        <div class="index-title">今天读什么?</div>
        <div class="index-main-box">
            <div class="reading-cover"><img class="cover-img" src="<%= bookInfo.coverUrl %>"></div>
            <div class="reading-info">
                <div class="difficulty">难度等级：<span class="difficulty-star">
                        <% for(var i = 0;i < 5;i++){ %>
                        <% if(i < bookInfo.difficulty * 1){ %>
                        ★
                        <% }else{ %>
                        ☆
                        <% }} %>
                    </span></div>
                <div class="wordsLength">词汇量：<%= bookInfo.wordLength || 0 %></div>
                <div class="needTime">耗时：<%= bookInfo.needTime.split(':')[0] || 0 %>
                    分<%= bookInfo.needTime.split(':')[1] || 0 %>秒
                </div>
                <div class="des"><%= bookInfo.brief || '' %></div>
                <div class="start-btn" data-id="<%= bookInfo._id %>">开始阅读</div>
            </div>
        </div>
    </div>


    <div class="banner">
        <a href="http://nametale.ef.com.cn/mobile/index.html?etag=EFCN_Wint18_KidsOwn-SNS-Nametale-Daka"
           onclick="_hmt.push(['_trackEvent', '外链', '首页底部Banner']);">
            <img src="../../../../daka/img/pic-banner.jpg">
        </a>
    </div>
</div>

<%- include("menu.ejs",{"type":'index'}) %>
<%- include("commonjs.ejs") %>


<script>

    var bodyH = $('body').height();
    if (bodyH < 1008) {
        $('body').addClass('ipad');
    }

    var now = "<%= now %>";
    initFloatDate(now);

    $('.start-btn').click(function () {
        window.location.href = '/daka/reading?bookId=' + $(this).data('id');
    })


    initWX(function () {
        initWXSahre();
    });

</script>


</body>
</html>