<%- include("header.ejs",{"title": "英孚亲子共读训练营"}) %>

<div class="page main-page index-page active">
    <div class="date-box">
        <div class="date-box-icon"></div>
        <div class="date-box-text"></div>
    </div>

    <div class="index-words">
        <div class="index-words-en">
            <%= bookInfo.wisdomEN || '' %>
        </div>
        <div class="index-words-cn">
            <%= bookInfo.wisdomCH || '' %>
        </div>
    </div>

    <div class="index-main">
        <div class="day-box">DAY <span class="days J-currentRecodeCounts"></span></div>
        <div class="index-title">今天读什么?</div>
        <div class="index-main-box">
            <div class="reading-cover"><img class="cover-img" src="<%= bookInfo.coverUrl %>"></div>
            <div class="reading-info">
                <div class="difficulty">难度等级：<span class="difficulty-star">
                        <% for(var i = 0;i < 5;i++){ %>
                        <% if(i < bookInfo.difficulty * 1){ %>
                        ★
                        <% }else{ %>
                        ☆
                        <% }} %>
                    </span></div>
                <div class="wordsLength">词汇量：<%= bookInfo.wordLength || 0 %></div>
                <div class="needTime">耗时：<%= bookInfo.needTime.split(':')[0] || 0 %>分<%= bookInfo.needTime.split(':')[1] || 0 %>秒</div>
                <div class="des"><%= bookInfo.brief || '' %></div>
                <div class="start-btn" data-id="<%= bookInfo._id %>">开始阅读</div>
            </div>
        </div>
    </div>


    <div class="banner">
        <img src="../../../../daka/img/pic-banner.jpg">
    </div>

</div>

<%- include("menu.ejs",{"type":'index'}) %>
<%- include("commonjs.ejs") %>


<script>
    var now = "<%= now %>";
    initFloatDate(now);

    $('.start-btn').click(function () {
        window.location.href = '/daka/reading?bookId=' + $(this).data('id');
    })

    getUserInfo(function (data) {
        var data = data.data[0];
        var recodeInfo = data['recodeInfo'];
        var currentRecodeCounts = recodeInfo ? recodeInfo['currentRecodeCounts'] || 0 : 0;
        $('.J-currentRecodeCounts').text(currentRecodeCounts);
    })

    initWX(function () {
        initWXSahre();
    });

</script>


</body>
</html>