<%- include("header.ejs",{"title": "打卡"}) %>

<div class="page main-page index-page active">
    <div class="date-box">
        <div class="date-box-icon"></div>
        <div class="date-box-text"></div>
    </div>

    <div class="index-words">
        <div class="index-words-en">
            “Whatever you think about all the time, you will attract into your life. Not what you want – what you think
            about.” – Bob Proctor, Motivational Coach
        </div>
        <div class="index-words-cn">
            「你一直想的事，不管它是什么，将被吸引到你的人生里；不是你想要的事，而是你想的事。」– 包柏‧普克 (励志导师)
        </div>
    </div>

    <div class="index-main">
        <div class="day-box">DAY <span class="days J-currentRecodeCounts"></span></div>
        <div class="index-title">今天读什么?</div>
        <div class="index-main-box">
            <div class="reading-cover"><img class="cover-img" src="<%= bookInfo.coverUrl %>"></div>
            <div class="reading-info">
                <div class="difficulty">难度等级：<%=bookInfo.difficulty%><span class="difficulty-star"><% for(var i = 0;i < 5;i++){ %><% if(i < bookInfo.difficulty * 1){ %>★<% }else{ %>☆<% }} %></span></div>
                <div class="wordsLength">词汇量：<%= bookInfo.wordLength || 0 %></div>
                <div class="needTime">耗时：<%= bookInfo.needTime || 0 %>分钟</div>
                <div class="des"><%= bookInfo.brief || '' %></div>
                <div class="start-btn" data-id="<%= bookInfo._id %>">开始阅读</div>
            </div>
        </div>
    </div>


    <div class="banner">
        <img src="../../../../daka/img/pic-banner.jpg">
    </div>

</div>

<%- include("menu.ejs",{"type":'index'}) %>
<%- include("commonjs.ejs") %>


<script>
    var now = "<%= now %>";
    initFloatDate(now);

    $('.start-btn').click(function () {
        window.location.href = '/daka/reading?bookId=' + $(this).data('id');
    })

    getUserInfo(function (data) {
        var data = data.data[0];
        var recodeInfo = data['recodeInfo'];
        var currentRecodeCounts = recodeInfo ? recodeInfo['currentRecodeCounts'] || 0 : 0;
        $('.J-currentRecodeCounts').text(currentRecodeCounts);
    })

    initWX(function () {
        initWXSahre();
    });

</script>


</body>
</html>