<%- include("header.ejs",{"title": "英孚亲子共读训练营"}) %>
<style>
    body.ipad {
        padding-bottom: 160px;
    }

    .start-btn {
        margin: 50px auto;
        position: relative;
        z-index: 4;
        font-size: 26px;
    }
</style>
<div class="page main-page medal-page active">
    <div class="medal-list">
        <% for (var i = 0; i < 9; i++) { %>
        <img src="/daka/img/medal/medal_<%= i %>.png" data-index="<%= i %>"
             class="medal-item medal-item-<%= i %> disable"/>
        <% } %>
    </div>

    <!--<div class="start-btn">确定</div>-->
</div>

<%- include("commonjs.ejs") %>


<script>
    var medalArray = [3, 7, 14, 21, 30, 45, 60, 75, 90];
    var currentRecodeCounts =<%= (UserInfo['recodeInfo'] && UserInfo['recodeInfo']['currentRecodeCounts']) || 0 %>;

    medalArray.map(function (item, index) {
        if (currentRecodeCounts >= item) {
            $('.medal-item').eq(index).removeClass('disable');
        } else {
            $('.medal-item').eq(index).addClass('disable');
        }
    });

    if (checkFirst('medal')) {
        setFirst('medal');
        showAlert({
            title: "阅读打卡全新升级啦！",
            text: "<div style='text-align: center'>坚持打卡即可点亮徽章<br/>点击徽章，立即炫耀宝贝的成就</div>"
        });
    }

    $('.medal-item').click(function () {
        if ($(this).hasClass('disable')) {
            return false;
        }

        var index = $(this).data('index');
        window.location.href = '/daka/medal_detail?days=' + medalArray[index];
    });

    initWX(function () {
        initWXSahre();
    });

</script>


</body>
</html>