<%- include("header.ejs",{"title":'打卡'}) %>

<link rel="stylesheet" href="/daka/css/calendar.css">
<script src="/daka/js/calendar.js"></script>
<div class="page main-page index-page plan-page active">
    <div class="date-box">
        <div class="date-box-icon">11</div>
        <div class="date-box-text">Oct 11, 2017</div>
    </div>

    <div class="index-words">
        <div class="calendar-panel" id="calendar"></div>
        <div class="day-box day-box-plan">DAY <span class="days J-currentRecodeCounts">7</span></div>
    </div>

    <div class="index-main">
        <div class="plan-title">已完成</div>
        <div class="finish-list">
            <% var readingInfo = bookInfo['readingInfo']; for(var i = 0;i < readingInfo.length;i++){ %>
            <% if(readingInfo[i]['readingList'] && readingInfo[i]['readingList'].bookId ){ %>
            <a class="finish-item" href="/daka/result?bookId=<%= readingInfo[i]['readingList'].bookId %>">
                <img src="<%= readingInfo[i]['readingList'].bookCover %>">
            </a>
            <% } %>
            <% } %>
        </div>
    </div>


</div>
<%- include("menu.ejs",{"type":'plan'}) %>
<%- include("commonjs.ejs") %>
<script>

    var now = "<%= now %>";
    initFloatDate(now);


    getUserInfo(function (data) {
        var data = data.data[0];
        var recodeInfo = data['recodeInfo'];
        var recodeTimeArray = recodeInfo ? recodeInfo['recodeTimeArray'] : [];
        var currentRecodeCounts = recodeInfo ? recodeInfo['currentRecodeCounts'] || 0 : 0;
        $('.J-currentRecodeCounts').text(currentRecodeCounts);
        $('#calendar').calendar({
            ifSwitch: false, // 是否切换月份
            hoverDate: false, // hover是否显示当天信息
            backToday: false, // 是否返回当天
            TimeArray: recodeTimeArray
        });
    })
</script>

</body>
</html>