<%- include("header.ejs",{"title":'英孚亲子共读训练营'}) %>
<style>
    .medie-player {
        width: 583px;
        margin: auto;
        padding: 0;
        border: 0;
        background: rgba(255, 255, 255, 0.9);
        margin-top: -1px;
    }

    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
    ::-webkit-scrollbar {
        width: 16px;
        height: 16px;
        background-color: #F5F5F5;
    }

    /*定义滚动条轨道 内阴影+圆角*/
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #555;
    }

    .record-btn-list {
        display: none;
    }

    .record-btn-list.active {
        display: block;
    }

    .reading-page .record-btn-list .btn-item.btn-item-read {
        display: block;
    }

    .reading-page .record-btn-list.active .btn-item.btn-item-read.record-btn {
        display: block;
    }
</style>
<div class="page main-page reading-page index-page active">
    <div class="date-box">
        <div class="date-box-icon"></div>
        <div class="date-box-text"></div>
    </div>

    <div class="reading-title"><%= bookInfo.articleTitle %></div>

    <% if(bookInfo.videoURL){ %>
    <% var videoStrArry = bookInfo.videoURL.split('/'); var videoCode = videoStrArry[videoStrArry.length - 1].split('.html')[0]; %>
    <div class="reading-video">
        <iframe frameborder="0" class="iframe"
                src="https://v.qq.com/iframe/player.html?vid=<%= videoCode %>&tiny=0&auto=0">
        </iframe>
    </div>
    <% }else if(bookInfo.audioURL){ %>

    <div class="medie-player J-medie-player" data-url="<%= bookInfo.audioURL %>">
        <img src="/daka/img/media-player-icon.jpg" class="media-player-icon">
        <div class="articleTitle">
            <%= bookInfo.articleTitle %>
            <span>来自EF英孚教育青少儿英语</span>
        </div>
    </div>
    <% } %>

    <div class="reading-main <%= bookInfo.videoURL ? 'video' : ''; %>">
        <%- bookInfo.articleText %>
    </div>

    <div class="J-loadedbox" style="display: none;">

        <!-- 无打卡 无录音 -->
        <div class="record-btn-list record-btn-list-new" id="case-1">
            <div class="record-btn btn-item btn-item-read">
                <div class="J-record-btn game_time">
                    <img src="/daka/img/V2/recodeicon.png" class="record-icon">
                </div>
                <div class="record-status J-record-status J-record-status2">点击录制</div>
                <div>可以选择你喜欢的一段进行录音</div>
            </div>
        </div>

        <!-- 有录音 && 可以继续打卡 -->
        <div class="record-btn-list record-btn-list-new" id="case-2">
            <div class="playRecord-btn btn-item btn-item2 btn-item-read">
                <div class="J-playRecord-btn game_time">
                    <img src="/daka/img/V2/replayicon.png" class="record-icon">
                </div>
                <div class="record-status J-playRecord-text">回放</div>
            </div>
            <div class="againRecord-btn btn-item btn-item2 btn-item-read">
                <img src="/daka/img/V2/recodeicon.png" class="record-icon J-againRecord-btn">
                <div class="record-status J-record-status">重录</div>
            </div>
            <div class="gotoDaka-btn btn-item btn-item2 btn-item-read">
                <img src="../../../../daka/img/V2/gotoDakaIcon.png" class="record-icon J-gotoDaka-btn">
                <div class="record-status gotoDaka-btn-text">去打卡</div>
            </div>
        </div>


        <!-- type && type == 'read'  已打卡 -->
        <div class="record-btn-list record-btn-list-new" id="case-3">
            <div class="btn-item btn-item-read">
                <div class="J-playRecord-btn game_time">
                    <img src="/daka/img/V2/replayicon.png" class="record-icon">
                </div>
                <div class="record-status J-playRecord-text">回放</div>
            </div>
            <div class="btn-item btn-item-read">
                <div class="J-record-btn2 game_time">
                    <img src="/daka/img/V2/recodeicon.png" class="record-icon">
                </div>
                <div class="record-status J-record-status">重录</div>
            </div>
            <div class="btn-item btn-item-read">
                <img src="/daka/img/V2/shareicon.png" class="record-icon J-share-btn">
                <div class="record-status">分享</div>
            </div>
        </div>


        <!-- 未打卡 有录音 && 不能再打卡 -->
        <div class="record-btn-list record-btn-list-new" id="case-4">
            <div class="playRecord-btn btn-item btn-item2 btn-item-read">
                <div class="J-playRecord-btn game_time">
                    <img src="/daka/img/V2/replayicon.png" class="record-icon">
                </div>
                <div class="record-status J-playRecord-text">回放</div>
            </div>
            <div class="againRecord-btn btn-item btn-item2 btn-item-read">
                <img src="/daka/img/V2/recodeicon.png" class="record-icon J-againRecord-btn">
                <div class="record-status J-record-status">重录</div>
            </div>
            <div class="gotoShare-btn btn-item btn-item-read">
                <img src="/daka/img/V2/shareicon.png" class="record-icon J-share-btn">
                <div class="record-status">分享</div>
            </div>
        </div>

    </div>

    <!--<div class="banner">-->
    <!--<img src="../../../../daka/img/pic-banner.jpg">-->
    <!--</div>-->
</div>

<div class="overlay overlay-share">
    <img src="/daka/img/shareTxt.png" class="shareTxt">
</div>

<%- include("menu.ejs",{"type":''}) %>
<%- include("commonjs.ejs") %>
<script>

    $('.J-share-btn').click(function () {
        $('.overlay-share').show();
    });

    $('.overlay-share').click(function () {
        $(this).hide();
    })


    var bodyH = $('body').height();
    if (bodyH < 1008) {
        $('body').addClass('ipad');
    }


    var now = "<%= now %>";
    initFloatDate(now);

    var nowFormatDate = getFormatDate(now);

    var hasVoice =<%- hasVoice %>;
    var bookId = '<%= bookInfo._id %>';
    var bookName = '<%= bookInfo.articleTitle %>';
    var bookCover = '<%= bookInfo.coverUrl %>';
    var level = '<%= level %>';
    var bookDate = '<%= bookDate.split('-').join('') %>';
    var type = '<%= type %>';


    <%
    var bookDateStr = bookDate.split('-').join('');
    var currentReadingInfo = UserInfo.readingInfo.filter(function (item) {
        item['_id'] = [];
        return item.readingTimeId == bookDateStr;
    })[0];
    %>


    if (type && type == 'read') {
        console.log('已打卡');
        $('#case-3').addClass('active');
    } else if (!hasVoice) {
        console.log('未打卡,无录音');
        $('#case-1').addClass('active');
    } else if (nowFormatDate == bookDate) {
        console.log('有录音,未打卡,可以打卡');
        $('#case-2').addClass('active');
    } else {
        console.log('有录音,未打卡,不能打卡');
        $('#case-4').addClass('active');
    }


    var recordLocalId = "<%= currentReadingInfo && currentReadingInfo['recordLocalId'] %>", recordServerId = "<%= currentReadingInfo && currentReadingInfo['recordServerId'] %>";

    //    alert('本地ID:' + recordLocalId + ';服务器ID:' + recordServerId);

    try {
        var bookDes = "<%= bookInfo.brief.toString() %>";
    } catch (e) {
        console.error(e);
    }

    var wordLength = '<%= bookInfo.wordLength %>';
    var localId = '';

    var preScrollTop = 0;

    var $iframe = $('.iframe');
    $('.reading-page').scroll(function () {
        var top = $(this).scrollTop();
        var diff = Math.abs(top - preScrollTop);
        preScrollTop = top;
        if (diff < 5) {
            return false;
        }

        top > 100 ? $iframe.addClass('active') : $iframe.removeClass('active');
    });

    function recordStop(res) {
        localId = res.localId;
//        $('.record-btn-list').addClass('active');
        countStop();
    }

    var timeInLocal = localStorage.getItem('time');

    function getFormatDate(date) {
        var now = new Date(date);
        var year = now.getFullYear();
        var month = now.getMonth() + 1;
        var day = now.getDate();

        month = month <= 9 ? ('0' + month) : ('' + month);
        day = day <= 9 ? ('0' + day) : ('' + day);

        return year + month + day;
    }


    initWX(function () {
        initWXSahre();

        if (recordLocalId) {
            $('.J-loadedbox').show();
            //音频在本地
            var recordLocalURL = "/files/media/" + recordServerId + ".mp3";
            var audioElement2;
            musicPlayer();
            function musicPlayer() {
                var musicSrc = recordLocalURL;
                audioElement2 = new Audio(musicSrc);
                audioElement2.controls = false;
                audioElement2.loop = false;
                audioElement2.autoplay = false;
                audioElement2.load();
                audioElement2.pause();

                //bind event
                $('.J-playRecord-btn').click(function () {

                    if ($(this).hasClass('active')) {
                        $(this).removeClass('active');
                        audioElement2.pause();
                        $('.J-playRecord-text').text('回放');
                    } else {
                        $(this).addClass('active');
                        audioElement2.play();
                        $('.J-playRecord-text').html('回放中<span class="dotting"></span>');
                    }
                }).removeClass('active');

            }
        } else {
            //音频还在微信服务器上
            if (recordServerId) {
                WXDownloadVoice(function () {
                    $('.J-loadedbox').show();
                });
            } else {
                $('.J-loadedbox').show();
            }

            //播放录音  回放
            $('.J-playRecord-btn').click(function () {
                audioElement.pause();

                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    wx.stopVoice({
                        localId: localId
                    });
                    $('.J-playRecord-text').text('回放');
                } else {
                    $(this).addClass('active');
                    if (localId) {
                        wx.playVoice({
                            localId: localId // 需要播放的音频的本地ID，由stopRecord接口获得
                        });
                        $('.J-playRecord-text').html('回放中<span class="dotting"></span>');
                    } else {
                        alert('没有录音');
                    }
                }
            });
        }

        //开始录音 或者结束录音
        $('.J-record-btn').click(function () {
            audioElement.pause();
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                //已经在录音,结束录音
                wx.stopRecord({
                    success: function (res) {
                        recordStop(res);
                    }
                });
                $('.J-record-status:not(".J-record-status2")').html('重录');
                $('.J-record-status2').html('点击录制');
                $('#case-2').addClass('active').siblings('.record-btn-list').removeClass('active');
            } else {
                wx.startRecord();
                $(this).addClass('active');
                $('.J-record-status').html('录音中...<span class="J-time"></span>');
                countDown();
            }
        })
        $('.J-record-btn2').click(function () {
            audioElement.pause();
            $('.J-playRecord-text').text('回放');

            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                //已经在录音,结束录音
                wx.stopRecord({
                    success: function (res) {
                        countStop();
                        $('.J-record-status').html('录音');
                        //老数据 不打卡,只保存录音
                        localId = res.localId; // 返回音频的服务器端ID
                        wx.uploadVoice({
                            localId: localId, // 需要上传的音频的本地ID，由stopRecord接口获得
                            isShowProgressTips: 1, // 默认为1，显示进度提示
                            success: function (res) {
                                var serverId = res.serverId; // 返回音频的服务器端ID
                                saveVoice({
                                    serverId: serverId,
                                    bookDes: bookDes,
                                    bookId: bookId,
                                    bookName: bookName,
                                    bookCover: bookCover,
                                    wordLength: wordLength,
                                    timeId: bookDate,
                                    level: level
                                }, function (data) {
                                    console.log(data);
                                    showAlert({
                                        title: "保存成功",
//                                        text: "录音保存成功！赶快分享到朋友圈，让更多朋友见证孩子的进步吧！<br/><br/> 还有一个好消息，<span class='heighlight'>2018英孚全球英语挑战赛</span>全面启动啦，即日起至4月30日，成功打卡即视为参加初赛，您可凭此截屏至就近英孚学校领取您的参赛证书，非英孚学员也可以领取证书哟！",
                                        text: "赶快分享到朋友圈，让更多朋友见证孩子的进步吧！<br/><br/> 同时，<span class='heighlight'>2018致经典•出彩少年全国中小学英语挑战赛</span>也已全面启动，即日起至4月30日，扫描下方二维码，关注大赛微信公众号，挑选你喜爱的诗篇，上传英语诵读音频，即可报名参赛，赶快加入，与我们一起向经典致敬！",
                                        callback: function () {
                                            window.location.href = '/daka/result?bookId=' + bookId + '&readTime=' + bookDate + '&level=' + level;
                                        }
                                    });
                                })

                            }
                        });
                    }
                });
            } else {
                wx.startRecord();
                $(this).addClass('active');
                $('.J-record-status').html('录音中...<span class="J-time"></span>');
                countDown();
            }
        })


        //重新录音
        $('.J-againRecord-btn').click(function () {

            audioElement.pause();

            wx.stopVoice({
                localId: localId
            });
            $('.J-playRecord-text').text('回放');
            $('.J-record-status').text('点击录音');
            $('.record-btn-list').removeClass('active');
            $(this).parent().siblings('.gotoDaka-btn').removeClass('z-hide');
            $(this).parent().siblings('.gotoShare-btn').addClass('z-hide');

        })

        //打卡
        $('.J-gotoDaka-btn').click(function () {

            var timeInLocal = localStorage.getItem('time');
            var now = returnDateStr(new Date());

            if (!localId) {
                toast('请先录音');
            }

            audioElement.pause();
            wx.stopVoice({
                localId: localId
            });
            $('.J-playRecord-text').text('回放');
            //今日已经打卡
            wx.uploadVoice({
                localId: localId, // 需要上传的音频的本地ID，由stopRecord接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                    var serverId = res.serverId; // 返回音频的服务器端ID
                    saveVoice({
                        serverId: serverId,
                        bookDes: bookDes,
                        bookId: bookId,
                        bookName: bookName,
                        bookCover: bookCover,
                        wordLength: wordLength,
                        timeId: bookDate,
                        level: level
                    }, function (data) {
                        console.log(data);
                        showAlert({
                            title: "保存成功",
//                                text: "录音保存成功！赶快分享到朋友圈，让更多朋友见证孩子的进步吧！<br/><br/> 还有一个好消息，<span class='heighlight'>2018英孚全球英语挑战赛</span>全面启动啦，即日起至4月30日，成功打卡即视为参加初赛，您可凭此截屏至就近英孚学校领取您的参赛证书，非英孚学员也可以领取证书哟！",
                            text: "赶快分享到朋友圈，让更多朋友见证孩子的进步吧！<br/><br/> 同时，<span class='heighlight'>2018致经典•出彩少年全国中小学英语挑战赛</span>也已全面启动，即日起至4月30日，扫描下方二维码，关注大赛微信公众号，挑选你喜爱的诗篇，上传英语诵读音频，即可报名参赛，赶快加入，与我们一起向经典致敬！",
                            callback: function () {
                                window.location.href = '/daka/result?bookId=' + bookId + '&readTime=' + bookDate + '&level=' + level;
                            }
                        });
                    })

                }
            });

//            {
//                // 上传音频 和 打卡
//
//                _hmt.push(['_trackEvent', '打卡', '打卡']);
//
//                wx.uploadVoice({
//                    localId: localId, // 需要上传的音频的本地ID，由stopRecord接口获得
//                    isShowProgressTips: 1, // 默认为1，显示进度提示
//                    success: function (res) {
//                        var serverId = res.serverId; // 返回音频的服务器端ID
//                        console.log(serverId);
//                        setSignIn({
//                            serverId: serverId,
//                            bookDes: bookDes,
//                            bookId: bookId,
//                            bookName: bookName,
//                            bookCover: bookCover,
//                            wordLength: wordLength,
//                            level: level,
//                        }, function (data) {
//                            console.log(data);
//                            localStorage.setItem('time', now);
//                            showAlert({
//                                title: "打卡成功",
//                                text: "赶快分享到朋友圈，让更多朋友见证孩子的进步吧！<br/><br/> 同时，<span class='heighlight'>2018致经典•出彩少年全国中小学英语挑战赛</span>也已全面启动，即日起至4月30日，扫描下方二维码，关注大赛微信公众号，挑选你喜爱的诗篇，上传英语诵读音频，即可报名参赛，赶快加入，与我们一起向经典致敬！",
//                                callback: function () {
//                                    window.location.href = '/daka/result?bookId=' + bookId + '&readTime=' + now + '&level=' + level;
//                                }
//                            });
//                        })
//
//                    }
//                });
//            }
        })

        wx.onVoiceRecordEnd({
            // 录音时间超过一分钟没有停止的时候会执行 complete 回调
            complete: function (res) {
                recordStop(res);
            }
        });
        wx.onVoicePlayEnd({
            success: function (res) {
                $('.J-playRecord-text').text('回放');
            }
        });
    });

    function setSignIn(data, cb) {
        $.ajax({
            type: 'GET',
            data: data,
            url: '/dakaApi/setSignIn',
            success: function (data) {
                console.log(data);
                if (data.status == '200') {
                    cb && cb(data);
                } else {
                    alert(data.errmsg);
                }
            },
            dataType: 'json'
        });
    }

    function saveVoice(data, cb) {
        $.ajax({
            type: 'GET',
            data: data,
            url: '/dakaApi/saveVoice',
            success: function (data) {
                console.log(data);
                if (data.status == '200') {
                    cb && cb(data);
                } else {
                    alert(data.errmsg);
                }
            },
            dataType: 'json'
        });
    }

    function returnDateStr(date) { // 日期转字符串
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();

        month = month <= 9 ? ('0' + month) : ('' + month);
        day = day <= 9 ? ('0' + day) : ('' + day);

        return year + month + day;
    }

    function WXDownloadVoice(cb) {
        wx.downloadVoice({
            serverId: recordServerId, // 需要下载的音频的服务器端ID，由uploadVoice接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
                localId = res.localId; // 返回音频的本地ID
                console.log(res);
                //alert('下载音频成功' + JSON.stringify(res));
                cb && cb(localId);
            },
            fail: function (res) {
                alert('下载音频失败:' + JSON.stringify(res));
            },
            complete: function (res) {
                //alert('complete:' + JSON.stringify(res));
            }
        });
    }


</script>
<script>
    var audioElement;
    musicPlayer();
    function musicPlayer() {
        var $player = $('.J-medie-player');
        if (!$player) {
            return false;
        }

        var musicSrc = $player.data('url');
        audioElement = new Audio(musicSrc);
        audioElement.controls = false;
        audioElement.loop = false;
        audioElement.autoplay = false;
        audioElement.load();
        audioElement.pause();


        //bind event
        $player.click(function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
                audioElement.pause();
            } else {
                $(this).addClass('active');
                audioElement.play();
            }
        }).removeClass('active');

    }
</script>
<script>
    var i = 0;
    var j = 0;
    var count = 0;
    var MM = 0;
    var SS = 60;  // 秒 90s
    var MS = 0;
    var totle = (MM + 1) * 600;
    var d = 180 * (MM + 1);
    var MM = "0" + MM;
    var gameTime = 60;
    var showTime = function () {
        totle = totle - 1;
        if (totle == 0) {
            clearInterval(s);
            clearInterval(t1);
            $(".pie2").css("-webkit-transform", "rotate(0deg)");
            $(".pie1").css("-webkit-transform", "rotate(" + d + "deg)");
            overTime();
        } else {
            if (totle > 0 && MS > 0) {
                MS = MS - 1;
                if (MS < 10) {
                    MS = "0" + MS
                }

            }

            if (MS == 0 && SS > 0) {
                MS = 10;
                SS = SS - 1;
                if (SS < 10) {
                    SS = "0" + SS
                }
            }
            if (SS == 0 && MM > 0) {
                SS = 60;
                MM = MM - 1;
                if (MM < 10) {
                    MM = "0" + MM
                }
            }
        }
        $(".J-time").html(SS * 1 + "s");
    };

    var start1 = function () {
        //i = i + 0.6;
        i = i + 360 / ((gameTime) * 10);  //旋转的角度  90s 为 0.4  60s为0.6
        count = count + 1;
        if (count <= (gameTime / 2 * 10)) {  // 一半的角度  90s 为 450
            $(".pie1").css("-o-transform", "rotate(" + i + "deg)");
            $(".pie1").css("-moz-transform", "rotate(" + i + "deg)");
            $(".pie1").css("-webkit-transform", "rotate(" + i + "deg)");
        } else {
            $(".pie2").css("backgroundColor", "#0068b1");
            $(".pie2").css("-o-transform", "rotate(" + i + "deg)");
            $(".pie2").css("-moz-transform", "rotate(" + i + "deg)");
            $(".pie2").css("-webkit-transform", "rotate(" + i + "deg)");
        }
    };

    showTime();

    var countDown = function () {
        return false;
        //80*80px 时间进度条
        i = 0;
        j = 0;
        count = 0;
        MM = 0;
        SS = gameTime;
        MS = 0;
        totle = (MM + 1) * gameTime * 10;
        d = 180 * (MM + 1);
        MM = "0" + MM;

        showTime();

        s = setInterval("showTime()", 100);
        start1();
        t1 = setInterval("start1()", 100);
    }

    var countStop = function () {
        return false;
        clearInterval(s);
        clearInterval(t1);
        $(".pie1").css("-webkit-transform", "rotate(0deg)");
        $(".pie2").css("-webkit-transform", "rotate(0deg)");
    }

    var overTime = function () {
        console.log('计时器结束');
    }
</script>
</body>
</html>