<%- include("header.ejs",{"title":'英孚亲子共读训练营'}) %>


<div class="start-banner">
    <img src="../../../../daka/img/start-banner.jpg">
    <img src="../../../../daka/img/logo.png" class="logo">
    <div class="banner-text">
        <!--<div class="banner-number">DAY-->
        <!--<span>21</span>-->
        <!--</div>-->
        <!--<div class="banner-hr"></div>-->
        <div class="banner-title">
            我和孩子的英语亲子阅读
            <%
            var now_month = new Date().getMonth() * 1 + 1;
            var now_date = new Date().getDate() * 1;
            %>
            <div class="banner-info"><%= new Date().getFullYear() %>
                /<%= now_month > 0 ? now_month : '0' + now_month; %>/<%= now_date > 0 ? now_date : '0' + now_date; %>
                开始
            </div>
        </div>
    </div>
</div>

<div class="allInList">
    <div class="allInList-title"><%= docs.length * 1 + 4639 %> 人已参加</div>
    <div class="allInList-main clearfix">
        <% for(var i = 0;i < docs.length && i < 22;i++){ %>
        <% if(docs[i]['personInfo'].headimgurl){ %>
        <img src="<%= docs[i]['personInfo'].headimgurl %>" class="allInList-item">
        <% }} %>
    </div>
</div>

<div class="startInfoList">
    <div class="startInfoList-title">我和孩子的英语亲子阅读</div>
    <div class="startInfoList-text">
        <div>
            你知道吗？陪伴是最长情的告白，和孩子一起阅读的时光，也就是那么几年！<br/>
            但是许多家长说：我们没有时间和孩子一起阅读，也缺乏经验，不知道该怎么读，读什么，更别说阅读英文书了。<br/>
            因此，英孚青少儿英语开展了《我和孩子的英语亲子阅读》活动，每天精选一个趣味英语小故事，让孩子和外教一起朗读，帮助孩子在趣味互动中爱上英语阅读，拓宽孩子的视野！
        </div>
        <div>每天亲子阅读10分钟，英孚与你同行！</div>
        <a href="/daka/start_detail">查看详情</a>
    </div>
    <div class="join-btn">我要参加</div>
</div>
<%- include("commonjs.ejs") %>

<script>
    $('.join-btn').click(function () {
        window.location.href = '/daka/index';
    });
</script>

<script>

    initWX(function () {
        initWXSahre();
    });

</script>
</body>
</html>