<%- include("header.ejs",{"title":'提交完成'}) %>

<div class='page result-page active'>
    <div class="info">作品已递交成功，分享海报为自己拉票吧</div>
    <div class="banner-box" id="banner">
        <div class="canvas"></div>
        <div class='personal'>
            <img src="<%= doc.imgPic %>" class="nickpic">
            <div class="name">
                <%= doc.nickName %>
            </div>
        </div>
        <div class='des'>我在英孚全球英语挑战赛中完成了<br /> 《
            <%= doc.productName %>》 <br />的英文朗读</div>
        <div class="qcode" id="qrcode">

        </div>
    </div>
    <div class="share-btns J-share-btns" style="display:none;">
        <img src="/ximalaya/img/Timeline.png" class="timeline-btn J-share" data-ch='weixinGroup'>
        <img src="/ximalaya/img/wx.png" class="wx-btn J-share" data-ch="weixin">
        <img src="/ximalaya/img/weibo.png" class="weibo-btn J-share" data-ch="tSina">
    </div>
    <div class="share-btns J-loading">
        正在生成分享海报...
    </div>

</div>
<div class='J-share-title f-hide'>英孚全球英语挑战赛</div>
<div class='J-share-des f-hide'>
    <%= doc.nickName %>在英孚全球英语挑战赛中完成了《
    <%= doc.productName %>》的英文朗读，快来为TA投票点赞把！
</div>
<!-- xmly  SDK -->
<script src="/xmjssdk/xmjssdk.js?v=20"></script>
<script src="/javascripts/html2canvas.min.js"></script>
<script src="/javascripts/qrcode.min.js"></script>
<script src="/javascripts/qiniu.min.js"></script>

<script>
    function tips(msg) {
        console.log(msg);
    }
    var _id = '<%- doc._id %>';

    function Page() {
        this.init();
    }

    Page.prototype = {
        init: function () {
            this.initYa();
            this.initBanner();
        },
        initBanner: function () {
            var self = this;
            self.genQrcode();
            self.genPic(self, function (cvs) {
                self.uploadPic(cvs, function (imgUrl) {
                    self.imgUrl = imgUrl;
                    console.log(imgUrl);
                    $('.J-share-btns').show();
                    $('.J-loading').hide();
                })
            })
        },
        initYa: function (cb) {
            var self = this;
            ya.ready(function () {
                cb && cb();
                $('.J-share').click(function () {
                    var channel = $(this).data('ch');
                    var linkUrl = 'https://ma.eldesign.cn/ximalaya/share?recordId=' + _id;
                    console.log(channel)
                    self.shareHandle({
                        channel,
                        linkUrl
                    })
                })
            });
        },
        genQrcode: function () {
            // 生成二维码
            var qrcode = new QRCode(document.getElementById("qrcode"), {
                text: 'https://ma.eldesign.cn/ximalaya/share?recordId=' + _id,
                width: 84,
                height: 84,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            });

        },
        genPic: function (self, cb) {
            // 生成截图
            var banner = document.getElementById('banner');
            html2canvas(banner, {
                allowTaint: false,
                useCORS: true,
            }).then(function (canvas) {
                $('.canvas').append(canvas);
                cb && cb(canvas);
            })
        },
        uploadPic: function (cvs, cb) {
            // 截图上传
            $.ajax({
                type: 'get',
                data: {
                    scope: 'xmly'
                },
                url: '/qiniu/api/getToken',
                success: function (data) {
                    if (data.status == 200) {
                        var token = data.data.uploadToken;
                        cvs.toBlob(function (blob) {
                            var observable = qiniu.upload(blob, new Date() * 1, token, {}, {
                                useCdnDomain: false,
                                region: qiniu.region.z0
                            })
                            var subscription = observable.subscribe({
                                next(res) {
                                    console.log(res);
                                },
                                error(err) {
                                    console.log(err);
                                },
                                complete(res) {
                                    console.log(res, 'complete');
                                    var imgUrl =
                                        'http://pjgcuhtbw.bkt.clouddn.com/' + res.key;
                                    cb && cb(imgUrl);
                                }
                            }) // 上传开始
                        },'image/jpeg', 0.8)
                    } else {
                        window.mPZ.toast(data.data);
                    }
                },
                dataType: 'json'
            });
        },
        /** channel,linkUrl, */
        shareHandle: function (obj) {
            var self=this;
            if (obj.channel == 'tSina') {
                ya.multiShare({
                    channel: obj.channel,
                    title: $('.J-share-title').text().trim(),
                    desc: $('.J-share-des').text().trim(),
                    link: obj.linkUrl,
                    imgUrl: 'http://pjt7gvrrv.bkt.clouddn.com/EF_share_logo.jpeg',
                    type: 'link',
                }, function (res) {
                    // 成功
                    if (res.ret == 0) {
                        ya.toast('分享到【' + channel + '】成功！');
                        console.log(JSON.stringify('分享到【' + channel + '】成功！'));
                    } else {
                        console.log(res.msg);
                    }
                });
            } else {
                ya.share({
                    channel: obj.channel,
                    title: $('.J-share-title').text().trim(),
                    desc: $('.J-share-des').text().trim(),
                    link: obj.linkUrl,
                    imgUrl: self.imgUrl,
                    type: 'picture',
                }, function (res) {
                    // 成功
                    if (res.ret == 0) {
                        ya.toast('分享到【' + channel + '】成功！');
                        console.log(JSON.stringify('分享到【' + channel + '】成功！'));
                    } else {
                        console.log(res.msg);
                    }
                });
            }

        }
    }
    new Page();
</script>

<%- include("footer.ejs") %>