<%- include("header.ejs",{"title":'提交完成'}) %>

<div class='page result-page active'>
    <div class="info">作品已递交成功，分享海报为自己拉票吧</div>
    <div class="banner-box">
        <div class="personal">
            <img src="<%= doc.imgPic %>" class="nickpic">
            <div class="text">
                <div class="name">
                    <%= doc.nickName %>
                </div>
                <!-- <div class="des">长按识别二维码投票</div> -->
            </div>
            <!-- <img src="/ximalaya/img/qcode.png" class="qcode"> -->
        </div>
    </div>
    <div class="share-btns">
        <img src="/ximalaya/img/Timeline.png" class="timeline-btn">
        <img src="/ximalaya/img/wx.png" class="wx-btn">
        <img src="/ximalaya/img/weibo.png" class="weibo-btn">
    </div>
</div>

<script>
    var _id = '<%- doc._id %>';
</script>

<%- include("footer.ejs") %>