<%- include("header.ejs",{"title":'英孚全球英语挑战赛'}) %>

<div class='page share-page active'>
    <div class='h60'></div>
    <img src="<%= doc.imgPic %>" class="nickpic">
    <% if(doc.productRecordMp3){ %>
    <img src="/ximalaya/img/share-play-icon.png" class="J-music share-play" data-src='<%= doc.productRecordMp3 %>'>
    <% } %>
    <div class="title">
        <%= doc.productName%>
    </div>
    <div class="text">
        <%= doc.nickName %>
    </div>
    <div class="text">
        <%= doc.leaveText %>
    </div>
    <img src="/ximalaya/img/share-vote-btn.png" class="vote-btn J-vote">
    <img src="/ximalaya/img/music-icon.png" class="music-icon">
    <div class="info">已有
        <%= count + 1212 %>人参与了本次活动， <br />赶快加入用英语讲中国故事，学做块文化小使者
    </div>
</div>

<script>
    var id = '<%- doc._id %>';

    function Page() {
        this.init();
    }
    Page.prototype = {
        init: function () {
            this.initMusic();
            this.bindEvent();
        },
        bindEvent: function () {
            var self = this;
            $('.J-music').click(function () {
                if ($(this).hasClass('play')) {
                    self.stopMusic();
                } else {
                    self.playMusic();
                }
            })

            $('.J-vote').click(function () {
                $.ajax({
                    type: 'post',
                    url: '/ximalaya/api/vote',
                    data: {
                        id: id,
                    },
                    success: function (data) {
                        if (data.status == '200') {
                            mPZ.toast('投票成功');
                        } else {
                            mPZ.toast(data.errmsg);
                        }
                    },
                    dataType: 'json'
                });
            })
        },
        initMusic: function () {
            var audioElement = this.audioElement = document.createElement('audio');
            audioElement.controls = true;
            audioElement.loop = false;
            audioElement.autoplay = false;
            audioElement.onended = function () {
                $('.J-music').removeClass('play');
            };

            var src = $('.J-music').data('src');
            audioElement.setAttribute('src', src);
            audioElement.load();
        },
        playMusic: function () {
            this.audioElement.play();
            $('.J-music').addClass('play');
        },
        stopMusic: function () {
            this.audioElement.pause();
            $('.J-music').removeClass('play');
        },
    }
    new Page();
</script>
<div class='J-share-title f-hide'>英孚全球英语挑战赛</div>
<div class='J-share-des f-hide'><%= doc.nickName %>英孚全球英语挑战赛中完成了《<%= doc.productName %>》的英文朗读，快来为TA投票点赞把！
</div>

<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
function initWXSahre() {

    //“分享给朋友”
    wx.onMenuShareAppMessage({
        title: $('.J-share-title').text().trim(), // 分享标题
        desc: $('.J-share-des').text().trim(), // 分享描述
        link: '', // 分享链接
        imgUrl: 'http://pjgcuhtbw.bkt.clouddn.com/EF_share_logo.jpeg', // 分享图标
        type: '', // 分享类型,music、video或link，不填默认为link
        dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
        success: function () {
            // 用户确认分享后执行的回调函数
            _hmt.push(['_trackEvent', '分享', '分享给朋友']);

        },
        cancel: function () {
            // 用户取消分享后执行的回调函数
        }
    });

    //“分享到朋友圈”
    wx.onMenuShareTimeline({
        title: $('.J-share-title').text().trim(), // 分享标题
        desc: $('.J-share-des').text().trim(), // 分享描述
        link: '', // 分享链接
        imgUrl: 'http://pjgcuhtbw.bkt.clouddn.com/EF_share_logo.jpeg', // 分享图标
        success: function () {
            // 用户确认分享后执行的回调函数
            _hmt.push(['_trackEvent', '分享', '分享朋友圈']);
        },
        cancel: function () {
            // 用户取消分享后执行的回调函数
        }
    });
}

function initWX(callback) {

    $.ajax({
        type: 'GET',
        url: '/api/getWxSDK',
        data: {'originalUrl': window.location.href},
        success: function (data) {
            var wxConfig = data.data.wxConfig;

            console.log(wxConfig);

            wx.config({
                debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: wxConfig.appId, // 必填，公众号的唯一标识
                timestamp: wxConfig.timestamp, // 必填，生成签名的时间戳
                nonceStr: wxConfig.nonceStr, // 必填，生成签名的随机串
                signature: wxConfig.signature,// 必填，签名，见附录1
                jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            });

            wx.ready(function () {
                callback && callback();
            });

            wx.error(function (res) {
                console.log(res);
            });


        },
        dataType: 'json'
    });
}

initWX(initWXSahre);
</script>

<%- include("footer.ejs") %>