<!DOCTYPE html>
<!--[if IEMobile 7 ]>
<html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="/StressTest/js/dpi.js"></script>
    <link rel="stylesheet" href="/tourTest/css/animate.css">
    <link rel="stylesheet" href="/tourTest/css/main.css">
    <link rel="stylesheet" href="/tourTest/css/style.css">
    <link rel="stylesheet" href="/swiper/swiper-3.3.1.min.css">
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?a0e9e1cce678aef060f414bcd2beb467";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    
</head>

<body>
    <!--需要预加载的images-->
    <div class="f-hide" id="f-hide">
        <img src="/tourTest/img/bg.png" />
        <img src="/tourTest/img/loading-img-1.png" />
        <img src="/tourTest/img/loading-img-2.png" />
        <img src="/tourTest/img/startpage-bg.png" />

        <img src="/tourTest/mp3/1.mp3" />
        <img src="/tourTest/mp3/2.mp3" />
        <img src="/tourTest/mp3/3.mp3" />
    </div>


    <div class="page loading-page active">
        <div class="loading-img dog"></div>
        <div class="loading-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

    <div class="page swiper-page">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide start-page swiper-no-swiping">
                    <img src="/tourTest/img/startpage-music.png" class="startpage-music">
                    <img src="/tourTest/img/startpage-icon1.png" class="startpage-icon1">
                    <img src="/tourTest/img/startpage-icon2.png" class="startpage-icon2">
                    <div class="btn withDog J-slideNext active">开始测试</div>
                </div>
                <div class="swiper-slide gender-page swiper-no-swiping">
                    <img src="/tourTest/img/genderpage-pic1.png" class="pic">
                    <div class="Q-list">
                        <div class="Q-item">
                            <span class="radio"></span>
                            <span class="label">男</span>
                        </div>
                        <div class="Q-item">
                            <span class="radio"></span>
                            <span class="label">女</span>
                        </div>
                    </div>
                    <div class="btn J-slideNext">确定</div>
                </div>
                <!-- Q1 -->
                <div class="swiper-slide Question-page swiper-no-swiping">
                    <div class="Q-title">如果有一个可以马上出国的机会，你会选择？</div>
                    <div class="Q-list">
                        <div class="Q-item" data-value=2 data-tag='1-1'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">立刻定完酒店和机票，我才安心</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=1 data-tag='1-2'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">先让我发条朋友圈，看有没有要代购的</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=3 data-tag='1-3'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">认真研究旅游攻略才是旅行的第一步</span>
                            </div>
                        </div>

                    </div>
                    <img class="Q-pic" src="/tourTest/img/Q-pic-1.png" alt="">
                    <div class="btn J-slideNext">下一题</div>
                </div>

                <!-- Q2 -->
                <div class="swiper-slide Question-page swiper-no-swiping">
                    <div class="Q-title">如果要选一本书做旅游攻略，你会选择？</div>
                    <div class="Q-list">
                        <div class="Q-item" data-value=1>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">《孤独星球》、《米其林指南》等各种砖头旅游书</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=2>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">《搭车去柏林》、《背包十年》等旅行故事书</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=3>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">现在谁还看书，穷游或者马蜂窝上拷贝一份攻略直接出发啦</span>
                            </div>
                        </div>

                    </div>
                    <img class="Q-pic" src="/tourTest/img/Q-pic-2.png" alt="">
                    <div class="btn J-slideNext">下一题</div>
                </div>

                <!-- Q3 -->
                <div class="swiper-slide Question-page swiper-no-swiping">
                    <div class="Q-title">出门旅行，你会选择带几双鞋子？</div>
                    <div class="Q-list">
                        <div class="Q-item" data-value=3 data-tag='3-1'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">两双运动鞋，轻便好走路</span>
                            </div>
                        </div>

                        <div class="Q-item mb45" data-value=2 data-tag='3-2'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">出门去玩就是要打扮美美拍硬照啊！高跟鞋、平底鞋、运动鞋都不能少</span>
                            </div>
                        </div>

                        <div class="Q-item" data-value=1 data-tag='3-3'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">一双人字拖走天下</span>
                            </div>
                        </div>

                    </div>
                    <img class="Q-pic" src="/tourTest/img/Q-pic-3.png" alt="">
                    <div class="btn J-slideNext">下一题</div>
                </div>

                <!-- Q4 -->
                <div class="swiper-slide Question-page swiper-no-swiping">
                    <div class="Q-title">哪种音乐更能唤起你的好心情?请点击播放</div>
                    <div class="Q-list">
                        <div class="Q-item" data-value=1 data-tag='4-1'>
                            <div class="Q-itemWrap">
                                <span class="radio music-radio"></span>
                                <span class="music" data-src='/tourTest/mp3/1.mp3'>
                                    <span class="pross J-music" style="width:230px;"><img src="/tourTest/img/music-pross-icon.png" class="pross-icon">
                                    </span>
                                    <span class="readIcon"></span>
                                    <span class="timer">10</span>
                                </span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=3 data-tag='4-2'>
                            <div class="Q-itemWrap">
                                <span class="radio music-radio"></span>
                                <span class="music" data-src='/tourTest/mp3/2.mp3'>
                                    <span class="pross J-music"  style="width:295px;"><img src="/tourTest/img/music-pross-icon.png" class="pross-icon">
                                    </span>
                                    <span class="readIcon"></span>
                                    <span class="timer">13</span>
                                </span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=2 data-tag='4-3'>
                            <div class="Q-itemWrap">
                                <span class="radio music-radio"></span>
                                <span class="music" data-src='/tourTest/mp3/3.mp3'>
                                    <span class="pross J-music"  style="width:260px;"><img src="/tourTest/img/music-pross-icon.png" class="pross-icon">
                                    </span>
                                    <span class="readIcon"></span>
                                    <span class="timer">12</span>
                                </span>
                            </div>
                        </div>

                    </div>
                    <img class="Q-pic" src="/tourTest/img/Q-pic-4.png" alt="">
                    <div class="btn J-slideNext">下一题</div>
                </div>

                <!-- Q5 -->
                <div class="swiper-slide Question-page swiper-no-swiping">
                    <div class="Q-title">每天早上起床，你是什么状态？</div>
                    <div class="Q-list">
                        <div class="Q-item mb45" data-value=2 data-tag='5-1'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">7：05，7：15，7：25，7：35……设了那么多闹钟，还是起不来</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=3 data-tag='5-2'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">闹钟一响我就能起床</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=1 data-tag='5-3'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">每天都要睡到自然醒才起床</span>
                            </div>
                        </div>
                    </div>
                    <img class="Q-pic" src="/tourTest/img/Q-pic-5.png" alt="">
                    <div class="btn J-slideNext">下一题</div>
                </div>

                <!-- Q6 -->
                <div class="swiper-slide Question-page swiper-no-swiping">
                    <div class="Q-title">推开门，你希望看到什么景象？</div>
                    <div class="Q-list">
                        <div class="Q-item imageItem" data-value=3 >
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">落日余晖 <img class="image" src="/tourTest/img/Q6-option-1.png" /></span>
                            </div>
                        </div>
                        <div class="Q-item imageItem" data-value=2 >
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">碧空万里 <img class="image" src="/tourTest/img/Q6-option-2.png" /></span>
                            </div>
                        </div>
                        <div class="Q-item imageItem" data-value=1 >
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">繁星满天 <img class="image" src="/tourTest/img/Q6-option-3.png" /> </span>
                            </div>
                        </div>
                    </div>
                    <div class='h45'></div>
                    <div class="btn J-slideNext">下一题</div>
                </div>

                <!-- Q7 -->
                <div class="swiper-slide Question-page swiper-no-swiping">
                    <div class="Q-title">哪句诗句最能唤起你的向往？</div>
                    <div class="Q-list">
                        <div class="Q-item" data-value=3 >
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">大漠孤烟直，长河落日圆</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=2 >
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">海边日影静犹长，烟里渔船接杳茫</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=1 >
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">坐看云卷云舒，静听花开花落</span>
                            </div>
                        </div>
                    </div>
                    <img class="Q-pic" src="/tourTest/img/Q-pic-7.png" alt="">
                    <div class='h45'></div>
                    <div class="btn J-slideNext">下一题</div>
                </div>

                <!-- Q8 -->
                <div class="swiper-slide Question-page swiper-no-swiping">
                    <div class="Q-title">怎么样的行程安排会让你觉得放松和舒适？</div>
                    <div class="Q-list">
                        <div class="Q-item" data-value=2 data-tag='8-1'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">拿着相机走遍大街小巷，寻找不曾被人发现的角落</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=1 data-tag='8-2'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">找一个地方躺着放空就最舒适了</span>
                            </div>
                        </div>
                        <div class="Q-item" data-value=3 data-tag='8-3'>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">漂流、潜水、跳伞，越刺激越好</span>
                            </div>
                        </div>
                    </div>
                    <img class="Q-pic" src="/tourTest/img/Q-pic-8.png" alt="">
                    <div class="btn J-slideNext">下一题</div>
                </div>

                <!-- Q9 -->
                <div class="swiper-slide Question-page swiper-no-swiping">
                    <div class="Q-title">假期即将结束，你的心情更符合？</div>
                    <div class="Q-list">
                        <div class="Q-item" data-value=1>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">好累，想赶紧回家</span>
                            </div>
                        </div>

                        <div class="Q-item" data-value=2>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">还没玩够！希望下次假期赶紧到来！</span>
                            </div>
                        </div>

                        <div class="Q-item" data-value=3>
                            <div class="Q-itemWrap">
                                <span class="radio"></span>
                                <span class="label">电量满格，回去好好做人</span>
                            </div>
                        </div>
                    </div>
                    <img class="Q-pic" src="/tourTest/img/Q-pic-9.png" alt="">
                    <div class='h45'></div>

                    <div class="btn J-finishQ">下一题</div>
                </div>

                <!-- leads -->
                <div class="swiper-slide leads-page swiper-no-swiping">
                    <img class="leads-title" src="/tourTest/img/leads-title.png" />
                    <div class="form">
                        <input type="text" class="input nickname J-name leads-Q" placeholder="请输入您的昵称">
                        <input type="tel" class="input tel J-tel leads-Q" placeholder="请输入您的手机号">
                        <div class="selectWrap">
                            <select class="city-select J-city select leads-Q">
                            <option value=''>请选择城市</option>
                            <% for(var i=0;i<StateRegion.length;i++){%>
                                <option value="<%= StateRegion[i].value %>"><%= StateRegion[i].text %></option>
                            <%}%>
                            </select>
                        </div>
                        <div class="selectWrap">
                            <select class="year-select select leads-Q">
                                <option value=''>出生年</option>
                            <% for(var i=0;i<year.length;i++){%>
                                <option value="<%= year[i].value %>" ><%= year[i].text %></option>
                            <%}%>
                            </select>
                            <select class="month-select select leads-Q">
                                <option value=''>月</option>
                                <% for(var i=0;i<month.length;i++){%>
                                    <option value="<%= month[i].value %>" ><%= month[i].text %></option>
                                <%}%>
                            </select>
                            <select class="date-select select leads-Q">
                                <option value=''>日</option>
                                <% for(var i=0;i<date.length;i++){%>
                                    <option value="<%= date[i].value %>" ><%= date[i].text %></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <img class="leads-pic" src="/tourTest/img/Q-pic-leads.png" alt="">
                    <div class="btn J-submit">确认</div>
                </div>
                <div class="swiper-slide result-page result-v1 swiper-no-swiping">
                    <img src="" class="result-pic">
                    <img src='/tourTest/img/result-text.png' class='result-txt'>
                </div>
            </div>
        </div>
    </div>
    <canvas id='myCanvas' width='640' height='1008'></canvas> 

    <script src="/javascripts/jquery.js"></script>
    <script src="/StressTest/js/imagesloaded.pkgd.min.js"></script>
    <script src="/swiper/swiper-3.3.1.jquery.min.js"></script>
    <script src="/tourTest/js/tplTagStyle.js?12"></script>

    <script>
        var tagData = [{
                tagId: '1-1',
                text: '手刀行动派'
            }, {
                tagId: '1-2',
                text: '勤俭持家派'
            }, {
                tagId: '1-3',
                text: '周密计划派'
            }, {
                tagId: '3-1',
                text: '质朴老实人'
            }, {
                tagId: '3-2',
                text: '凹造型大帝'
            }, {
                tagId: '3-3',
                text: '人字拖无敌'
            }, {
                tagId: '4-1',
                text: '热情似火'
            }, {
                tagId: '4-2',
                text: '深沉如你'
            }, {
                tagId: '4-3',
                text: '自由活泼'
            }, {
                tagId: '5-1',
                text: '拖延症患者'
            }, {
                tagId: '5-2',
                text: '极度自律'
            }, {
                tagId: '5-3',
                text: '随心所欲'
            }, , {
                tagId: '8-1',
                text: '另辟蹊径'
            }, {
                tagId: '8-2',
                text: '度假=放空'
            }, {
                tagId: '8-3',
                text: '极限挑战'
            }, ];
    </script>
    <script>

        var resultList="<%- resultList %>".split(',');
        var channel="<%- channel %>";
        var SourceCode="<%- SourceCode %>";

        Number.prototype.range=function(min,max){
            return this>=min && this<=max;
        }

        Array.prototype.random=function(){
            var index=Math.floor(Math.random()*this.length)
            return this[index];
        }

        if (typeof Array.prototype.filter != "function") {
            Array.prototype.filter = function (fn, context) {
                var arr = [];
                if (typeof fn === "function") {
                for (var k = 0, length = this.length; k < length; k++) {
                    fn.call(context, this[k], k, this) && arr.push(this[k]);
                }
                }
                return arr;
            };
        }

        function initMySwiper() {
            var mySwiper = new Swiper('.swiper-container', {
                noSwiping: true
            })

            return mySwiper;
        }
    </script>
    <script>
        var mySwiper;
        var timer;

        function indexHanlder() {
            this.init();
        }

        indexHanlder.prototype = {
            init: function () {
                this.initMain();
                this.initMusic();
                this.bindEvnet(this);

                // var me=this;
                // var tagList=["1-3", "3-3", "4-2", "5-3", "8-3"];
                // var img=new Image();
                // img.src='/tourTest/img/v1/female_2_1.jpg';
                // img.onload=()=>{
                //     me.genTagImg(tagList,img,'female_2_1.jpg');
                // }  
                // $('#myCanvas').show();
            },
            initMain: function () {
                var h = $('body').height();
                var Qh = $('.Q-header').height();
                $('.Q-main').height(h - Qh);
            },
            initMusic:function(){
                var audioElement=this.audioElement = document.createElement('audio');
                audioElement.controls = true;
                audioElement.loop = false;
                audioElement.autoplay = 'autoplay';
                audioElement.onended = function() {
                    $('.music').removeClass('play');
                };
            },
            playMusic:function($music){
                var audioElement=this.audioElement;
                var src=$music.data('src');
                audioElement.setAttribute('src',src);
                audioElement.load();
                audioElement.play();
                $('.music').removeClass('play');
                $music.addClass('play').addClass('done');
            },
            stopMusic:function(){
                var audioElement=this.audioElement;
                audioElement.pause();
                $('.music').removeClass('play');
            },
            bindEvnet:function () {
                var me = this;

                $('.month-select').change(function(){
                    var month=$(this).val();
                    var days=31;
                    if(month=='2'){
                        days=28;
                    }else if(month=='4'||month=="6"||month=="9"||month=="11"){
                        days=30
                    }
                    me.genDates(days);
                })

                $('.J-music').click(function(e){
                    // e.stopPropagation();
                    var $music=$(this).parents('.music');
                    
                    if($music.hasClass('play')){
                        me.stopMusic();
                    }else{
                        me.playMusic($music);
                    }
                })
                $('.J-page1-btn').click(function () {
                    timer && clearInterval(timer);
                    mySwiper.slideNext();
                })
                $('.J-slideNext').click(function () {
                    if ($(this).hasClass('active')) {
                        mySwiper.slideNext();
                        me.stopMusic();
                    }
                })
                $('.J-finishQ').click(function () {
                    if ($(this).hasClass('active')) {
                        mySwiper.slideNext();
                        me.getResult();
                    }
                })

                $('.Q-item').click(function () {
                    if($(this).parents('.leads-page').length) return true;

                    $(this).addClass('active').siblings('.Q-item').removeClass('active');
                    $(this).parents('.swiper-slide').find('.btn').addClass('active');
                })

                $(".leads-page .leads-Q").on("change",function(){
                    console.log(checkVal());
                   if(checkVal()){
                        $(this).parents('.swiper-slide').find('.btn').addClass('active');
                   }else{
                        $(this).parents('.swiper-slide').find('.btn').removeClass('active');
                   }
                });

                function checkVal(){
                    var result=true;
                    $('.leads-page .leads-Q').each(function(){
                        if(!$(this).val()) result=false;
                    })
                    return result;
                }


                $('.J-submit').click(function () {
                    if (!$(this).hasClass('active') || !checkVal()) {
                        return false;
                    }

                    if(!me.checkTel($('.J-tel').val())){
                        toast('手机号格式有误');
                        return false;
                    }

                    $('.loading-page').fadeIn();
                    setTimeout(function(){
                        $('.loading-page').fadeOut();
                    },3000)

                    mySwiper.slideNext();
                    //The main object to be sent with the submission request
                    var submissionData = new Object();
                    //Individual properties of the main object
                    var customer = new Object();
                    var extendedDetail = new Object();
                    var weChatData = new Object();
                    var trackingData = new Object();
                    var campaigndata = new Object();

                    var year=$('.year-select').val();
                    var month=$('.month-select').val();
                    var date=$('.date-select').val();

                    customer.FirstName = $('.J-name').val().substr(1,$('.J-name').val().length-1);
                    customer.LastName = $('.J-name').val().substr(0,1);
                    customer.MobilePhone = $('.J-tel').val();
                    customer.DateOfBirth = new Date(year+'-'+month+'-'+date); // January 9th, 1975 (0-based index for months)
                    customer.StateRegionName = $('.J-city').find("option:selected").text();
                    customer.StateRegionCode = "CN-" + $('.J-city').find("option:selected").val();
                    customer.CountryOfResidence = "CN";
                    customer.Gender = $('.gender-page').find('.Q-item.active').index()==0?"M":"F";
                    customer.Comments = '类型:'+me.level;
                    customer.Email = customer.MobilePhone + "@noemail.com";


                    // Tracking
                    trackingData.Etag =  channel+"_Travel_IDV1";
                    trackingData.EntrySourceCode = SourceCode;

                    //Campaign Data
                    campaigndata.CampaignName = "Travel_ID";
                    campaigndata.CampaignAllocationPrograms = "ILS,LY";
                    campaigndata.CampaignAllocationCode = "mixed";

                    //Extended Details
                    extendedDetail.WantsMoreInfo = true;
                    extendedDetail.WantsBrochure = true;



                    //Assigning individual classes to the main object
                    submissionData.customer = customer;
                    submissionData.extendedDetail = extendedDetail;
                    submissionData.tracking = trackingData;
                    submissionData.weChat = weChatData;
                    submissionData.campaignData = campaigndata;
            

                    console.log(submissionData);
                    $.ajax({
                        url: '/StressTest/form',
                        dataType: 'json',
                        crossDomain: true,
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(submissionData),
                        success: function (res) {
                            console.log(res);
                        }
                    });
                });
            },
            getResult:function(){
                var me=this;
                var sex=$('.gender-page').find('.Q-item.active').index();  // 0 为男， 1为女
                var totalScore=0;
                var tagList=[];
                $('.Question-page .Q-list').each(function(){
                    var $Qitem=$(this).find('.Q-item.active');
                    var tag=$Qitem.data('tag');
                    totalScore+=$Qitem.data('value')*1;
                    tag && tagList.push(tag);
                });
                var level=this.getScoreLevel(totalScore);
                var filterStr=(sex==0?"male":"female") + "_"+ level;
                console.log(filterStr);
                var result=resultList.filter(function(item){
                    return item.indexOf(filterStr)==0;
                }).random();
                console.log(result);
                this.level=level;
                var resultURL='/tourTest/img/v1/'+result;
                var img=new Image();
                img.src=resultURL;
                img.onload=function(){
                    var tagImg=me.genTagImg(tagList,img,result);
                    $('.result-pic').attr('src',tagImg).parents('.result-page').css('background','url(/tourTest/img/v1/bg/'+result+')');
                    $('.result-txt').addClass(result.split('.')[0]);
                }
            },
            genTagImg:function(tagList,img,result){
                var tagImg;
                var tagTxtList=tagList.map(item=>{
                    tagObj=tagData.find(it=>it && it.tagId==item)
                    return tagObj.text;
                })
                var myCanvas=$('#myCanvas')[0];
                var ctx=myCanvas.getContext('2d');
                ctx.drawImage(img,0,0);
                tagTxtList.map((text,index)=>{
                    var styleObj=tplTagStyle[result][index];
                    drawTag(text,styleObj);
                })

                tagImg=myCanvas.toDataURL("image/png");
                return tagImg;

                function drawTag(text,styleObj){
                    console.log(styleObj);
                    var tagW=170,tagH=50,x=styleObj.x,y=styleObj.y;
                    ctx.beginPath();
                    ctx.rect(x,y,tagW,tagH);
                    ctx.fillStyle='#FFFFFF';
                    ctx.fill();
                    ctx.lineWidth="4";
                    ctx.strokeStyle=styleObj.borderColor;
                    ctx.rect(x,y,tagW,tagH);
                    ctx.stroke();
                    ctx.textAlign="center";  
                    ctx.fillStyle='#4d4d4d';
                    ctx.font="28px MHEIPRCHEAVY"; 
                    ctx.fillText(text, x+tagW/2, y+36,tagW);
                }
            },
            getScoreLevel:function(score){
                var level=0;
                if(score.range(9,13)){
                    level=1;
                }else if(score.range(14,19)){
                    level=2;
                }else if(score.range(20,24)){
                    level=3;
                }else if(score.range(25,27)){
                    level=4;
                }
                return level;
            },
            checkTel:function(tel){
                var reg = /^0?1[3|4|5|6|7|8|9][0-9]\d{8}$/;
                return reg.test(tel);
            },
            genDates:function(days){
                var html="<option value=''>日</option>";
                for(var i=1;i<=days;i++){
                    html+='<option value="'+i+'">'+i+'</option>';
                }
                $('.date-select').html(html);
            }
        }
        var page = new indexHanlder();
    </script>
    <script>    
        var loaded = false;
        var loaded_ani = false;


        //预加载器
        function loader() {
            this.init();
        }

        loader.prototype = {
            init: function () {
                var me = this;
                var loaded = 0;

                if ($('body').length === 0 || navigator.userAgent.indexOf('MSIE 9') != -1) {
                    me.onLoaded();
                } else {
                    var imgLoad = imagesLoaded('body');
                    imgLoad.on('progress', function (instance, image) {
                        loaded++;
                        if (loaded == instance.images.length) {
                            me.onLoaded();
                        }
                    });
                }
            },
            onLoaded: function () {

            }
        }

        var loader = new loader();
        loader.onLoaded = function () {
            loaded = true;
            $('.loading-page').fadeOut();
            $('.swiper-page').addClass('active');
            var $btn = $('.J-page1-btn');
            timer = setInterval(function () {
                $btn.hasClass('active') ? $btn.removeClass('active') : $btn.addClass('active');
            }, 1500)
            mySwiper = initMySwiper();
        }
    </script>

    <div class="toast"></div>
    <script>
        var toast = function (msg, timer) {
            $('.toast').text(msg).fadeIn();
            setTimeout(function () {
                $('.toast').fadeOut();
            }, timer || 1000)
        }
    </script>


    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
    function initWXSahre() {

        //“分享给朋友”
        wx.onMenuShareAppMessage({
            title: '测测你的隐藏旅行属性', // 分享标题
            desc: '你是打卡狂魔，还是逛吃逛吃党？', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/tourTest/img/share_logo.jpg', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                // 用户确认分享后执行的回调函数
                _hmt.push(['_trackEvent', '分享', '分享给朋友']);

            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });

        //“分享到朋友圈”
        wx.onMenuShareTimeline({
            title: '测测你的隐藏旅行属性', // 分享标题
            desc: '你是打卡狂魔，还是逛吃逛吃党？', // 分享描述
            link: '', // 分享链接
            imgUrl: 'http://ma.eldesign.cn/tourTest/img/share_logo.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                _hmt.push(['_trackEvent', '分享', '分享朋友圈']);
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
            }
        });
    }

    function initWX(callback) {

        $.ajax({
            type: 'GET',
            url: '/api/getWxSDK',
            data: {'originalUrl': window.location.href},
            success: function (data) {
                var wxConfig = data.data.wxConfig;

                console.log(wxConfig);

                wx.config({
                    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: wxConfig.appId, // 必填，公众号的唯一标识
                    timestamp: wxConfig.timestamp, // 必填，生成签名的时间戳
                    nonceStr: wxConfig.nonceStr, // 必填，生成签名的随机串
                    signature: wxConfig.signature,// 必填，签名，见附录1
                    jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                });

                wx.ready(function () {
                    callback && callback();
                });

                wx.error(function (res) {
                    console.log(res);
                });


            },
            dataType: 'json'
        });
    }

    initWX(initWXSahre);
    </script>
    
    
</body>

</html>