<%- include("header.ejs",{"title": "结婚邀请函"}) %>

<div class="page index-page">
    <div class="done J-done active">
        <div class="top-title">
            <span>我的请柬</span>
            <img src="/invitation/img/icon-left.png" alt="">
        </div>
        <div class="message J-message">
            <img src="/invitation/img/message.png" alt="">
            <!--<div class="message-cnt"></div>-->
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% for (var i = 0; i < data.length; i++){  var item = data[i]; %>
                <div class="swiper-slide" data-id="<%= item['_id'] %>" data-template="<%= item['templateId'] %>"
                     style="width: 400px;">
                    <div class="action-group">
                        <img class="icon J-edit" src="/invitation/img/icon-edit.png" alt="">
                        <img class="icon J-delete" src="/invitation/img/icon-delete.png" alt="">
                    </div>
                    <div class="main J-edit" style='background: url("/invitation/img/tpl1-1.jpg ") no-repeat center;background-size:cover'>
                    <div class="title">
                        <div class="title-en">
                            <img src="/invitation/img/text-title-en.png" alt="">
                        </div>
                        <div class="title-ch">婚礼邀请函</div>
                        <div class="title-text">一生一世一对人</div>
                    </div>
                    <div class="photo img-wrapper">
                        <img class="J-uploaded-img" data-tag="tmp1-pic1" src="" alt="photo">
                        <img class="photo-wrapper" src="<%= item['templateInfo'][0] && item['templateInfo'][0].value || '' %>"
                             alt="">
                        <div class="upload-mask">
                            <input type="file">
                        </div>
                    </div>
                    <div class="info">
                        <div class="name">
                        <span><%= item['templateForm']['groomName'] %></span>
                        <img src="/invitation/img/icon-and.png" alt="">
                        <span><%= item['templateForm']['brideName'] %> </span>
                        </div>
                        <div class="time"><%= item['templateForm']['marriageTime'] %></div>
                        <div class="address"><%= item['templateForm']['marriageAddress'] %></div>
                    </div>
                </div>

                </div>
                <% } %>
            </div>
        </div>
        <div class="action-btn J-make">
            <img src="/invitation/img/make-btn.png" alt="">
        </div>
    </div>
    <div class="modal J-confirm-modal">
        <div class="modal-confirm">
            <div class="btn-close J-modal-close">x</div>
            <!-- <img class="btn-close J-modal-close" src="/invitation/img/modal-close.png"></div> -->
            <div class="confirm-title">确定删除？</div>
            <div class="confirm-btns">
                <a href="javascript:;" class="btn confirm-btn J-confirm-btn">是</a>
                <a href="javascript:;" class="btn cancel-btn J-cancel-btn">否</a>
            </div>
        </div>
    </div>
</div>
<%- include("commonjs.ejs") %>
<script src="/invitation/js/swiper-3.3.1.jquery.min.js"></script>

<script>
    function Page() {
        this.init();
    }

    Page.prototype = {
        init: function () {
            this.bindEvent();
        },
        // 绑定事件
        bindEvent: function () {
            // 初始化swiper
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 'auto',
                spaceBetween: 70
            });


            $('.J-make').click(function () {
                window.location.href = '/invitation/template';
            })

            $('.J-message').click(function () {
                window.location.href = '/invitation/message';
            })

            // 编辑请柬
            $('.J-edit').click(function () {
                // 根据id跳转到对应的template页
                var $item = $(this).closest('.swiper-slide');
                var templateId = $item.data('template');
                var id = $item.data('id');
                window.location.href = '/invitation/edit/' + templateId + '?id=' + id;
            })

            // 确认删除
            $('.J-delete').click(function () {
                var $item = $(this).closest('.swiper-slide');
                var id = $item.data('id');
                $('.J-confirm-modal').data('deleteId', id);
                $('.J-confirm-modal').addClass('active');
            });

            // 进行删除操作
            $('.J-confirm-btn').click(function () {
                var deleteId = $(this).closest('.J-confirm-modal').data('deleteId');
                $.ajax({
                    type: 'POST',
                    url: '/invitation/api/removeInvitation',
                    data: {
                        deleteId: deleteId
                    },
                    success: function (data) {
                        console.log(data);
                        window.location.reload();
                    },
                    dataType: 'json'
                });
            })
            // 取消删除或关闭确认框
            $('.J-cancel-btn, .J-modal-close').click(function () {
                $('.J-confirm-modal').removeClass('active');
            })
        },
    }
</script>
<script>
    new Page();
</script>
</body>
</html>